@import "../../constants";

body .gz-app {

  .btnUnconfirm{
    border: 1px solid #3a404c;
    width: 80%;
    font-size: 12px;
    font-weight: 100;
    border-radius: 20px;
    color: #14171C;
    background: rgb(70, 68, 63);
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1.5;
    pointer-events: none;
    padding: 6px 12px;
  }
  .btnUnconfirmDiv{
    border: 1px solid #3a404c;
    font-size: 12px;
    font-weight: 100;
    border-radius: 20px;
    color: #14171C;
    background: rgb(70, 68, 63);
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1.5;
    pointer-events: none;
    padding: 6px 12px;
  }


  .btn {
    font-size: 12px;
    font-weight: 100;
    color: $btn_default_font;
    background: $btn_default_bg;

    &:active {
      color: $btn_default_bg;
      background: $btn_default_font;
    }

    &.btn-outline-orange {
      color: $btn_orange;
      background-color: transparent;
      background-image: none;
      border: 1px solid $btn_orange;
      border-radius: 4px;

      &:active {
        background-color: $btn_orange;
        color: #ffffff;
      }
    }

    &.btn-outline-blue {
      color: $btn_primary;
      background-color: transparent;
      background-image: none;
      border: 1px solid $btn_primary;
      border-radius: 4px;

      &:active {
        background-color: $btn_primary;
        color: #ffffff;
      }
    }

    &.btn-default {
      border: 0;
      color: $btn_default_bg;
      background: $btn_default;

      &:active {
        background-color: $btn_default_bg;
        color: $btn_primary;
        border: 1px solid $btn_primary;
      }
    }

    &.btn-primary {
      border: 0;
      color: $btn_default_bg;
      background: $btn_primary;

      &:active {
        background-color: $btn_default_bg;
        color: $btn_primary;
        border: 1px solid $btn_primary;
      }
    }

    &.gz-sm {
      padding: 2px;
      font-size: 11px;
      font-weight: 100;
    }

    &.gz-circle {
      font-size: 13px;
      border-radius: 20px;
    }

    &.gz-foot-blue {
      color: $btn_default_bg;
      height: 50px;
      background: $btn_primary;
      border-radius: 0;
      padding-left: 30px;
      padding-right: 30px;
      display: flex;
      align-items: center;

      &:active {
        background-color: $btn_default_bg;
        color: $btn_primary;
        border: 1px solid $btn_primary;
      }
    }

    &.gz-btn-price-up {
      color: #ffffff;
      background: $btn_price-up;
      border-radius: 8px;
    }

    &.gz-btn-price-down {
      color: #ffffff;
      background: $btn_price-down;
      border-radius: 8px;
    }
  }

}
