<header class="gz-header-container">
    <div class="gz-header">
      <div>
      </div>
      <div class="gz-title">
      </div>
      <div></div>
    </div>  
  </header>
  
  <article class="gz-chat-list">
    <section *ngFor="let chat of chatingList">
      <div class="chat-time" *ngIf="chat.sendTime">{{chat.sendTimestamp | date: 'MM:dd:HH:mm:ss'}}</div>
      <div class="gz-chat-me" *ngIf="chat.isMe">
        <div class="gz-chat-content-me">{{chat.content}}</div>
        
        <img class="headImg" src="{{chat.avatar | avatar}}">
        <div class="gz-chat-content">{{chat.adUserName}}</div>
      </div>
      <div class="gz-chat-other" *ngIf="!chat.isMe">
          <div class="gz-chat-content">{{chat.anotherUserName}}</div>
        <img class="headImg" src="{{chat.avatar | avatar}}">
        
        <div class="gz-chat-content">{{chat.content}}</div>
      </div>
    </section>
  </article>
  
  