<gz-menu class="gz-main-page-menu" [activeNavName]="'my'"></gz-menu>

<header class="gz-header-container">
  <div class="gz-header">
    <div>
      <fa-icon [icon]="['fas', 'chevron-left']" class="gz-back" (click)="goBack()"></fa-icon>
    </div>
    <div class="gz-title">
      <gz-i18n key="user_trans_password.trans_password"></gz-i18n>
    </div>
    <div></div>
  </div>
</header>

<article class="gz-form">
  <section>
    <p><gz-i18n key="user_trans_password.tip"></gz-i18n></p>
  </section>

  <section class="gz-country">
    <div style="min-width: 60px;"><gz-i18n key="common.country"></gz-i18n></div>
    <div class="gz-country-select">
      <select [(ngModel)]="countryCode">
        <option *ngFor="let cc of countryCodes" value="{{cc.code}}">
          {{cc.name}}({{cc.code}})
        </option>
      </select>
    </div>
    <div>
      <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
    </div>
  </section>
  <div style="display:none;">
      <input type="password"  autocomplete="new-password" />
    </div>
  <section>
    <div class="gz-label {{isFocus('phoneNo')}}"><gz-i18n key="user.inputPhone"></gz-i18n></div>
    <div>
      <input type="text" class="{{isFocus('phoneNo')}}" placeholder="{{this.i18ns.inputPhone}}"
             [(ngModel)]="phoneNo" maxlength="15"
             (focus)="focus('phoneNo')" (blur)="blur('phoneNo')">
    </div>
  </section>
  <section>
    <div class="gz-label {{isFocus('smsCode')}}"><gz-i18n key="user.inputSmsCode"></gz-i18n></div>
    <div style="position: relative;">
      <input type="text" class="{{isFocus('smsCode')}}" placeholder="{{this.i18ns.inputSmsCode}}"
             [(ngModel)]="smsCode" maxlength="6"
             (focus)="focus('smsCode')" (blur)="blur('smsCode')">
      <div class="gz-get-smscode" *ngIf="!resendSmsCodeDelay" (click)="sendSmsCode()"><gz-i18n key="user.sendSmsCode"></gz-i18n></div>
      <div class="gz-get-smscode" *ngIf="resendSmsCodeDelay"><gz-i18n key="user.resendSmsCode"></gz-i18n>({{resendSmsCodeDelay}})</div>
    </div>
  </section>

  <section>
    <div class="gz-label {{isFocus('password')}}"><gz-i18n key="user_trans_password.input_trans_password"></gz-i18n></div>
    <div class="gz-password">
        <input type="text" style="display:none;" />
      <input type="password" class="{{isFocus('password')}}" placeholder="{{this.i18ns.input_trans_password}}"
             [(ngModel)]="password" *ngIf="!isShowPassword"  autocomplete="new-password"  maxlength="40"
             (focus)="focus('password')" (blur)="blur('password')">
      <input type="text" class="{{isFocus('password')}}" placeholder="{{this.i18ns.input_trans_password}}"
             [(ngModel)]="password" *ngIf="isShowPassword"  autocomplete="new-password" maxlength="40"
             (focus)="focus('password')" (blur)="blur('password')">
      <fa-icon [icon]="['fas', 'eye-slash']" *ngIf="!isShowPassword" (click)="showPassword(true)"></fa-icon>
      <fa-icon class="gz-active" [icon]="['fas', 'eye']" *ngIf="isShowPassword" (click)="showPassword(false)"></fa-icon>
    </div>
  </section>

  <section class="gz-submit">
    <div class="btn btn-outline-blue gz-circle" (click)="submit()">
      <gz-i18n key="user_trans_password.submit"></gz-i18n>
    </div>
  </section>

</article>
