<header class="gz-header-container">
  <div class="gz-header">
    <div>
      <fa-icon [icon]="['fas', 'chevron-left']" class="gz-back" (click)="goBack()"></fa-icon>
    </div>
    <div class="gz-title">
      {{i18ns.trustManage}}
    </div>
    <div></div>
  </div>
</header>
<div class="gz-trust-list gz-header-sub  ">
  <section class="gz-full-tab">
    <nav class="nav">
      <a class="nav-link {{relationShip == 1 ? 'active' : ''}}" (click)="loadList(1)">{{i18ns.iTrusted}}</a>
      <a class="nav-link {{relationShip == 2 ? 'active' : ''}}" (click)="loadList(2)">{{i18ns.trustedMe}}</a>
      <a class="nav-link {{relationShip == 3 ? 'active' : ''}}" (click)="loadList(3)">{{i18ns.iBlackList}}</a>
    </nav>
  </section>
</div>

<article class="gz-trust-list">
  <section class="gz-full-tab">
    <nav class="nav">
      <a class="nav-link {{relationShip == 1 ? 'active' : ''}}" (click)="loadList(1)">{{i18ns.iTrusted}}</a>
      <a class="nav-link {{relationShip == 2 ? 'active' : ''}}" (click)="loadList(2)">{{i18ns.trustedMe}}</a>
      <a class="nav-link {{relationShip == 3 ? 'active' : ''}}" (click)="loadList(3)">{{i18ns.iBlackList}}</a>
    </nav>
  </section>
  <div *ngIf="!isLoading">
  <section class="gz-list-tr"  *ngFor="let data of list">
    <div class="gz-list-tr-left">
      <!-- <div class="gz-list-tr-head">
        <img src="{{data.data.avatar | avatar}}" alt="">
      </div> -->
      <div class="gz-list-tr-detail">
        <h3>{{data.data.username}}</h3>
        <div>{{i18ns.transaction}} {{data.data.transaction_count}} | 
          <gz-i18n key="trust.praise"></gz-i18n> {{data.data.positive_count}}% | 
          <gz-i18n key="trust.trust"></gz-i18n> {{data.data.trust_count}}
        </div>
          <div class="gz-list-tr-right">
              <div>{{getDealWithHimDesc(data.data)}}</div>
          </div>
      </div>
    </div>
    
    <div class="gz-list-tr-right">
        <div class="btn btn-primary" *ngIf="relationShip == 1" (click)="cancelTrustList(data.data.id)">
            <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
            {{this.i18ns.cancel_trust}}
        </div>
        <div class="btn btn-primary"  *ngIf="relationShip == 3" (click)="cancelBlackList(data.data.id)">
          <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
          {{this.i18ns.cancel_black}}
        </div>
      
    </div>
  </section>
  </div>
  <div class="loader" *ngIf="isLoading">Loading...</div>
</article>
