<section class="gz-list-tr" *ngFor="let data of tradelist">
  <div class="gz-list-tr-left">
    <!--<div class="gz-list-tr-head">
      <img src="{{data.userHeadUrl | avatar}}" >
    </div>-->
    <div class="gz-list-tr-detail">
        <div class="gz-list-cell_15 float_left">{{this.i18ns.orderNo}}: {{data.id}}</div>

      <div class="gz-list-cell_22" *ngIf="data.status == 'unfinish'">{{this.i18ns.order_status}}: {{this.i18ns.order_status_unfinish}} , <span *ngIf="data.paymentStatus === 0">{{this.i18ns.noPayed}}</span><span *ngIf="data.paymentStatus === 1">{{this.i18ns.payed}}</span></div>
      <div class="gz-list-cell_22" *ngIf="data.status == 'finish'">{{this.i18ns.order_status}}: {{this.i18ns.order_status_finish}} , <span *ngIf="data.paymentStatus === 0">{{this.i18ns.noPayed}}</span><span *ngIf="data.paymentStatus === 1">{{this.i18ns.payed}}</span></div>
      <div class="gz-list-cell_22" *ngIf="data.status == 'canceled'">{{this.i18ns.order_status}}: {{this.i18ns.order_status_canceled}} , <span *ngIf="data.paymentStatus === 0">{{this.i18ns.noPayed}}</span><span *ngIf="data.paymentStatus === 1">{{this.i18ns.payed}}</span></div>
      <div class="gz-list-cell_22" *ngIf="data.status == 'dispute'">{{this.i18ns.order_status}}: {{this.i18ns.order_status_dispute}} , <span *ngIf="data.paymentStatus === 0">{{this.i18ns.noPayed}}</span><span *ngIf="data.paymentStatus === 1">{{this.i18ns.payed}}</span></div>

      <!--<div  class="gz-list-cell_10 float_left">{{data.username}}</div>
      <div class="gz-list-cell_8 float_left" *ngIf="data.type=='sell'">{{this.i18ns.sale}} {{data.tradeCurrency}}</div>
      <div class="gz-list-cell_8 float_left" *ngIf="data.type=='buy'">{{this.i18ns.buy}} {{data.tradeCurrency}}</div>
      -->

      <div class="gz-list-cell_20 float_left"><span>{{i18ns.count}}: </span><span>{{data.transactionCount.toFixed(8) | btcFormat }} {{data.tradeCurrency}}</span></div>
      <div class="gz-list-cell_20 float_left"><span>{{i18ns.price}}: </span><span>{{data.price | cnyFormat }} {{data.currency || ''}}</span></div>
      <div class="gz-list-cell_23 float_left"><span>{{i18ns.orderCreateTime}}: </span><span>{{data.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}</span></div>
      <div class="gz-list-cell_23 float_left"><span>{{i18ns.trade_time}}: </span><span *ngIf="data.paymentStatus==1">{{data.paymentTime | date: 'yyyy-MM-dd HH:mm:ss'}}</span></div>
      <div class="gz-list-cell_23 float_left"><span>{{i18ns.collect_time}}: </span><span *ngIf="data.sellerPaymentConfirm!=0">{{data.confirmTime | date: 'yyyy-MM-dd HH:mm:ss'}}</span></div>
      

      

    </div>
  </div>
  
  <div class="gz-list-tr-right w15">
        <div class="btn btn-primary gz-circle" (click)="toOrderDetail2(data)">
          {{this.i18ns.order_detail}}
        </div>
        <div class="ml10 float_right" *ngIf="this.loginUserId== data.userid  && data.isRating == 1 && data.orderRating == 1">{{this.i18ns.do_rating}}: {{this.i18ns.rating_1}} </div>
        <div class="ml10 float_right" *ngIf="this.loginUserId== data.userid  && data.isRating == 1 && data.orderRating == 0">{{this.i18ns.do_rating}}: {{this.i18ns.rating_0}} </div>
        
        <div class="btn btn-primary gz-circle " *ngIf="this.loginUserId== data.userid && data.status == 'finish' && data.isRating == 0 " (click)="doOrderRating(data,'1')">
            {{this.i18ns.rating_1}}
        </div>
        <div class="btn btn-primary gz-circle " *ngIf="this.loginUserId== data.userid && data.status == 'finish' && data.isRating == 0 " (click)="doOrderRating(data,'0')">
            {{this.i18ns.rating_0}}
        </div>


    <!-- <div _ngcontent-c5="" class="btn btn-primary gz-circle">
      <gz-i18n _ngcontent-c5="" key="element_list_trans.edit" _nghost-c2="" ng-reflect-key="element_list_trans.edit">好评</gz-i18n>
    </div> -->
  </div>

</section>
