<header class="gz-header-container">
  <div class="gz-header">
    <div>
      <fa-icon [icon]="['fas', 'chevron-left']" class="gz-back" (click)="goBack()"></fa-icon>
    </div>
    <div class="gz-title">
      {{getTitle()}}
    </div>
    <!--<div (click)="goToHelp()">帮助</div>-->
    <div></div>
  </div>
</header>

<!--<div class="gz-chat">-->
<article class="gz-transaction">

  <section class="gz-transaction-detail">
    <div class="gz-transaction-detail-left">
      <h3><gz-i18n key="chat.quote_price"></gz-i18n>: {{data.rate}} CNY</h3>
      <p><gz-i18n key="chat.limit"></gz-i18n>: {{data.limitMinAmount}} - {{data.limitMaxAmount}} CNY</p>
    </div>
    <div>
      <div class="btn btn-outline-blue gz-circle" (click)="transaction()" *ngIf="this.currentLoginUserId != this.adUserId">
        {{data.adType == '2' ? this.i18ns.sell : this.i18ns.buy }}
      </div>
    </div>
  </section>

  <section class="gz-info">
    <p><gz-i18n key="chat.info_chat_via_temp"></gz-i18n></p>
  </section>


  <div class="div_list_chat">
    <gz-list-chating *ngIf="adId" 
    [adId]="adId" 
    [orderId]="0" 
    [adUserId]="adUserId" 
    [anotherUserId]="anotherUserId" 
    [chatTitle]="getTitle()"></gz-list-chating>
  </div>

  <section class="gz-empty-foot"></section>
</article>

<footer>
  <ul class="list-group list-group-flush" *ngIf="chatTemplates">
    <li class="list-group-item" *ngFor="let template of chatTemplates" (click)="sendTemplate(template)">{{template.value}}</li>
  </ul>
</footer>
<!--</div>-->
