<header class="gz-header-container">
  <div class="gz-header">
    <div>
      <fa-icon [icon]="['fas', 'chevron-left']" class="gz-back" (click)="goBack()"></fa-icon>
    </div>
    <div class="gz-title">
      <gz-i18n key="common.registry"></gz-i18n>
    </div>
    <div></div>
  </div>
</header>

<article class="gz-register gz-form">
  <section class="gz-country">
    <div style="min-width: 60px;"><gz-i18n key="common.country"></gz-i18n></div>
    <div class="gz-country-select">
      <select [(ngModel)]="countryCode" tabindex="1">
        <option *ngFor="let cc of countryCodes" value="{{cc.code}}">
          {{cc.name}}({{cc.code}})
        </option>
      </select>
    </div>
    <div>
      <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
    </div>
  </section>
  <section>
    <div class="gz-label {{isFocus('phoneNo')}}"><gz-i18n key="user.inputPhone"></gz-i18n></div>
    <div>
      <input type="text" class="{{isFocus('phoneNo')}}" tabindex="2"
             [(ngModel)]="phoneNo" maxlength="15"
             (focus)="focus('phoneNo')" (blur)="blur('phoneNo')"
             placeholder="{{this.i18ns.inputPhone}}" >
    </div>
  </section>

  <section>
    <div class="gz-label {{isFocus('password')}}"><gz-i18n key="user.inputPassword"></gz-i18n></div>
    <div class="gz-password">
      <input type="password" class="{{isFocus('password')}}" placeholder="{{this.i18ns.inputPassword}}" tabindex="3"
             [(ngModel)]="password" *ngIf="!isShowPassword" maxlength="40"
             (focus)="focus('password')" (blur)="blur('password')">
      <input type="text" class="{{isFocus('password')}}" placeholder="{{this.i18ns.inputPassword}}" tabindex="3"
             [(ngModel)]="password" *ngIf="isShowPassword" maxlength="40"
             (focus)="focus('password')" (blur)="blur('password')">
      <fa-icon [icon]="['fas', 'eye-slash']" *ngIf="!isShowPassword" (click)="showPassword(true)"></fa-icon>
      <fa-icon class="gz-active" [icon]="['fas', 'eye']" *ngIf="isShowPassword" (click)="showPassword(false)"></fa-icon>
    </div>
    <div class="alert-danger">{{passwordWarn}}</div>
  </section>
  
  <section>
    <div class="gz-label {{isFocus('smsCode')}}"><gz-i18n key="user.inputSmsCode"></gz-i18n></div>
    <div style="position: relative;">
      <input type="text" class="{{isFocus('smsCode')}}" tabindex="4"
             [(ngModel)]="smsCode" maxlength="6"
             (focus)="focus('smsCode')" (blur)="blur('smsCode')"
             placeholder="{{this.i18ns.inputSmsCode}}"
             >
      <div class="gz-get-smscode fetchCur" *ngIf="!resendSmsCodeDelay" (click)="sendSmsCode()"><gz-i18n key="user.sendSmsCode"></gz-i18n></div>
      <div class="gz-get-smscode" *ngIf="resendSmsCodeDelay"><gz-i18n key="user.resendSmsCode"></gz-i18n>({{resendSmsCodeDelay}})</div>
    </div>
  </section>
  
  <section class="gz-agree-terms">
    <input type="checkbox" id="isAggreeTerms" [(ngModel)]="isAggreeTerms" style="zoom:150%;min-height:15px;min-width:15px;" tabindex="5">
    <label for="isAggreeTerms"><gz-i18n key="register.read_agreement"></gz-i18n> <span class="gz-active fetchCur" (click)="showServiceItems()"><gz-i18n key="register.agreement_name"></gz-i18n></span></label>
  </section>
  <section class="gz-submit">
    <div class="btn btn-primary gz-circle" (click)="register()" (keyup.enter)="register()" tabindex="6"><gz-i18n key="register.next_step"></gz-i18n></div>
  </section>
</article>

<section class="">
  <div class="gz-popup" *ngIf="isShowConfirm">
    <div class="gz-popup-content" style="opacity: 1;border: 1px solid #777">
      <h3><gz-i18n key="register.agreement_name"></gz-i18n></h3>
      <div class="gz-popup-row" style="min-height:200px">
        <div [innerHTML]="serv_items_en" *ngIf="language == 'en-GB'" class="gz-div-overflow"></div>
        <div [innerHTML]="serv_items_simp" *ngIf="language == 'zh-CN'" class="gz-div-overflow"></div>
        <div [innerHTML]="serv_items_trad" *ngIf="language == 'zh-HK'" class="gz-div-overflow"></div>
      </div>
      <div class="gz-popup-btn-row">
        <div (click)="cancelDialog()">
          {{i18ns.confirm}}
        </div>
      </div>
    </div>
  </div>
</section>