<header class="gz-header-container">
  <div class="gz-header">
    <div>
      <fa-icon [icon]="['fas', 'chevron-left']" class="gz-back" (click)="goBack()"></fa-icon>
    </div>
    <div class="gz-title">
      注册
    </div>
    <div></div>
  </div>
</header>

<article class="gz-register gz-form">
  <section class="gz-country">
    <div style="min-width: 60px;">国家/地区</div>
    <div class="gz-country-select">
      <select [(ngModel)]="countryCode">
        <option *ngFor="let cc of countryCodes" value="{{cc.code}}">
          {{cc.name}}({{cc.code}})
        </option>
      </select>
    </div>
    <div>
      <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
    </div>
  </section>
  <section>
    <div class="gz-label {{isFocus('phoneNo')}}">请输入手机号</div>
    <div>
      <input type="text" class="{{isFocus('phoneNo')}}" placeholder="请输入手机号"
             [(ngModel)]="phoneNo"
             (focus)="focus('phoneNo')" (blur)="blur('phoneNo')">
    </div>
  </section>
  <section>
    <div class="gz-label {{isFocus('smsCode')}}">请输入短信验证码</div>
    <div style="position: relative;">
      <input type="text" class="{{isFocus('smsCode')}}" placeholder="请输入短信验证码"
             [(ngModel)]="smsCode"
             (focus)="focus('smsCode')" (blur)="blur('smsCode')">
      <div class="gz-get-smscode" *ngIf="!resendSmsCodeDelay" (click)="sendSmsCode()">获取验证码</div>
      <div class="gz-get-smscode" *ngIf="resendSmsCodeDelay">重新获取验证码({{resendSmsCodeDelay}})</div>
    </div>
  </section>
  <section>
    <div class="gz-label {{isFocus('password')}}">设置登录密码</div>
    <div class="gz-password">
      <input type="password" class="{{isFocus('password')}}" placeholder="设置登录密码"
             [(ngModel)]="password" *ngIf="!isShowPassword"
             (focus)="focus('password')" (blur)="blur('password')">
      <input type="text" class="{{isFocus('password')}}" placeholder="设置登录密码"
             [(ngModel)]="password" *ngIf="isShowPassword"
             (focus)="focus('password')" (blur)="blur('password')">
      <fa-icon [icon]="['fas', 'eye-slash']" *ngIf="!isShowPassword" (click)="showPassword(true)"></fa-icon>
      <fa-icon class="gz-active" [icon]="['fas', 'eye']" *ngIf="isShowPassword" (click)="showPassword(false)"></fa-icon>
    </div>
  </section>
  <section class="gz-agree-terms">
    <input type="checkbox" id="isAggreeTerms" [(ngModel)]="isAggreeTerms">
    <label for="isAggreeTerms">已经阅读并同意 <span class="gz-active">《CoinCola Luck 服务条款》</span></label>
  </section>
  <section class="gz-submit">
    <div class="btn gz-circle active" (click)="register()">下一步</div>
  </section>
</article>
