@import "../../../../constants";

.gz-list-tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border_default;

  //&:last-child {
  //  border-bottom: 0px;
  //}
  .gz-list-tr-left {
    display: flex;
    justify-content: left;
  }

  .gz-list-td-adtype {
    width:40px;
  }

  .gz-list-td-cointype {
    width:40px;
  }

  .gz-list-tr-detail {
    margin-left: 10px;
  }

  .gz-list-tr-right, .gz-list-tr-head, .gz-list-tr-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;

    .btn {
      margin-right: 0;
      margin-left: 10px;
    }
  }

  .gz-list-tr-detail {
    align-items: left;
    color: $sub_font_color;

  }

  .gz-list-tr-detail {
    align-items: left;
    color: $sub_font_color;
  }
}


.gz-list-cell_10{
  flex-basis:100px
}
.gz-list-cell_15{
  flex-basis:150px
}
.gz-list-cell_20{
  flex-basis:200px
}
.gz-list-cell_25{
  flex-basis:250px
}
.gz-list-cell_30{
  flex-basis:300px
}
.float_left{
  float: left;
}

.pt10{
  padding-top:10px;
}

.sh3{
  font-weight:600;
  font-size: small;
}
