<header class="gz-header-container">
  <div class="gz-header">
    <div>
      <fa-icon [icon]="['fas', 'chevron-left']" class="gz-back" (click)="goBack()"></fa-icon>
    </div>
    <div class="gz-title">
      <gz-i18n key="forget_password.forget_password"></gz-i18n>
    </div>
    <div></div>
  </div>
</header>

<article class="gz-form">
  <section class="gz-country">
    <div style="min-width: 60px;"><gz-i18n key="common.country"></gz-i18n></div>
    <div class="gz-country-select">
      <select [(ngModel)]="countryCode">
        <option *ngFor="let countryCode of countryCodes" value="{{countryCode.code}}">
          {{countryCode.name}}({{countryCode.code}})
        </option>
      </select>
    </div>
    <div>
      <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
    </div>
  </section>

  <section>
    <div class="gz-label {{isFocus('phoneNo')}}"><gz-i18n key="user.inputPhone"></gz-i18n></div>
    <div>
      <input type="text" class="{{isFocus('phoneNo')}}" placeholder="{{this.i18ns.inputPhone}}"
             [(ngModel)]="phoneNo" (focus)="focus('phoneNo')" (blur)="blur('phoneNo')">
    </div>
  </section>

  <section>
    <div class="gz-label {{isFocus('smsCode')}}"><gz-i18n key="user.inputSmsCode"></gz-i18n></div>
    <div style="position: relative;">
      <input type="text" class="{{isFocus('smsCode')}}" placeholder="{{this.i18ns.inputSmsCode}}"
             [(ngModel)]="smsCode"
             (focus)="focus('smsCode')" (blur)="blur('smsCode')">
      <div class="gz-get-smscode" *ngIf="!resendSmsCodeDelay" (click)="sendSmsCode()"><gz-i18n key="user.sendSmsCode"></gz-i18n></div>
      <div class="gz-get-smscode" *ngIf="resendSmsCodeDelay"><gz-i18n key="user.resendSmsCode"></gz-i18n>({{resendSmsCodeDelay}})</div>
    </div>
  </section>

  <section>
    <div class="gz-label {{isFocus('password')}}"><gz-i18n key="forget_password.set_login_password"></gz-i18n></div>
    <div class="gz-password">
      <input type="password" class="{{isFocus('password')}}" placeholder="{{this.i18ns.set_login_password}}"
             [(ngModel)]="password" *ngIf="!isShowPassword"
             (focus)="focus('password')" (blur)="blur('password')">
      <input type="text" class="{{isFocus('password')}}" placeholder="{{this.i18ns.set_login_password}}"
             [(ngModel)]="password" *ngIf="isShowPassword"
             (focus)="focus('password')" (blur)="blur('password')">
      <fa-icon [icon]="['fas', 'eye-slash']" *ngIf="!isShowPassword" (click)="showPassword(true)"></fa-icon>
      <fa-icon class="gz-active" [icon]="['fas', 'eye']" *ngIf="isShowPassword" (click)="showPassword(false)"></fa-icon>
    </div>
  </section>

  <section class="gz-submit">
    <div class="btn gz-circle active" (click)="submit()"><gz-i18n key="forget_password.finish"></gz-i18n></div>
  </section>
</article>

