<div class="gz-action-deposit">
  <div style="display: flex;">
    向如下地址汇入 <span>{{coinType}}</span> 完成充值
    <div id="qrcode" (click)="showBigImg()"></div>
  </div>
  <div class="loader" *ngIf="isLoading">Loading...</div>
  <div class="gz-action-address" *ngIf="!isLoading">
    {{coinAddress}}
  </div>
  <div class="gz-notice">
    <p>
      注意事项
    </p>
    <p>
      {{coinType}}地址只能充值{{coinType}}资产，任何冲入{{coinType}}地址的非{{coinType}}资产将不可找回。充值上述地址需要1个网络确认才能到帐，最低存入金额为 0.01 {{coinType}}
    </p>
  </div>
</div>

<div class="gz-process-list">
  <div class="gz-title">
    <div>
      <span>即将到账的转账</span>
      <span (click)="showInnerHelp()">
        <fa-icon class="gz-active" [icon]="['fas', 'question-circle']"></fa-icon>
      </span>
    </div>
    <div class="gz-link" (click)="refreshWillReceive()">刷新</div>
  </div>
  <div *ngIf="!isLoadingTransaction">
    <div class="gz-list" *ngFor="let transaction of willReceiveTransactions">
      <div>
        <span>TXID: </span>
        <span>{{transaction.txid}}</span>
      </div>
      <div>
        <span>发送数量: </span>
        <span>{{transaction.amount | coinNumber}}{{transaction.coin}}</span>
      </div>
    </div>
  </div>
</div>
<div class="loader" *ngIf="isLoadingTransaction">Loading...</div>

<div class="gz-full-screen" *ngIf="isShowBigImg">
  <div class="gz-full-screen-bg" *ngIf="isShowBigImg" (click)="hideBigImg()"></div>
  <div class="gz-full-screen-content">
    <div id="qrcodeFull"></div>
  </div>
</div>

<section class="gz-bg" *ngIf="isShowInnerHelp" (click)="hideInnerHelp()"></section>
<section class="gz-inner-help" *ngIf="isShowInnerHelp">
  <div [innerHTML]="helpContent"></div>
</section>
