<header class="gz-header-container">
  <div class="gz-header">
    <div>
      <fa-icon [icon]="['fas', 'chevron-left']" class="gz-back" (click)="goBack()"></fa-icon>
    </div>
    <div class="gz-title">
      OTC {{coinType}}
    </div>
    <div class="fetchCur" (click)="goToTransactionList()">
      <gz-i18n key="coin.detail"></gz-i18n>
    </div>
  </div>
</header>

<article class="gz-wallet gz-coin-action">
  <section class="gz-wallet-summery">
    <div class="gz-title"><gz-i18n key="coin.total_assets"></gz-i18n></div>
    <div class="gz-amount">{{coinBalance.balance | btcFormat }} {{coinType}}</div>
    <!--<div class="gz-currency">≈0.00 CNY</div>-->
    <div class="gz-wallet-coin-detail">
      <div class="">
        <div><gz-i18n key="coin.balance"></gz-i18n>({{coinType}})</div>
        <div>{{coinBalance.usableAmount | btcFormat}}</div>
      </div>
      <div class="">
        <div><gz-i18n key="coin.locked"></gz-i18n>({{coinType}})</div>
        <div>{{coinBalance.locked | btcFormat}}</div>
      </div>
    </div>
  </section>

  <section class="gz-full-tab">
    <nav class="nav fetchCur">
      <a [class]="'nav-link ' + (isDeposit() ? 'active': '')" (click)="toDeposit()"><gz-i18n key="coin.Deposit"></gz-i18n></a>
      <a [class]="'nav-link ' + (isWithraw() ? 'active': '')" (click)="toWithraw()"><gz-i18n key="coin.Withraw"></gz-i18n></a>
      <!--<a [class]="'nav-link ' + (isTransfer() ? 'active': '')" (click)="toTransfer()">资产划转</a>-->
    </nav>
  </section>

  <section class="gz-action-container">
    <gz-coin-action-deposit [coinType]="coinType" *ngIf="isDeposit()"></gz-coin-action-deposit>
    <gz-coin-action-withraw [coinType]="coinType" *ngIf="isWithraw()"></gz-coin-action-withraw>
    <gz-coin-action-transfer *ngIf="isTransfer()"></gz-coin-action-transfer>
  </section>

</article>
