<header class="gz-header-container">
  <div class="gz-header">
    <div>
      <fa-icon [icon]="['fas', 'chevron-left']" class="gz-back" (click)="goBack()"></fa-icon>
    </div>
    <div class="gz-title">
      <gz-i18n key="common.sale" *ngIf="order.ad_data.type === 'buy'"></gz-i18n>
      <gz-i18n key="common.buy" *ngIf="order.ad_data.type === 'sell'"></gz-i18n>
      <gz-i18n key="otc.order"></gz-i18n>
    </div>
    <div></div>
  </div>
</header>


<article class="gz-order-detail">
  <section class="gz-order-delay">
    <h3 *ngIf="order.status == 'unfinish'">
      {{delayDesc}}
    </h3>

    <p>
      <gz-i18n key="otc.orderDelay15Min"></gz-i18n>
    </p>
  </section>

  <section class="gz-row gz-row-1">
    <div>
      <gz-i18n key="otc.seller"></gz-i18n>
      {{order.my_data.username}}
    </div>
    <fa-icon [icon]="['fas', 'exchange-alt']"></fa-icon>
    <div>
      <gz-i18n key="otc.buyer"></gz-i18n>
      {{order.ad_data.user_data.name}}
    </div>
  </section>

  <section class="gz-row">
    <div>
      <gz-i18n key="otc.orderNo"></gz-i18n>
    </div>
    <div>{{order.id}}</div>
  </section>
  <section class="gz-row">
    <div>
      <gz-i18n key="otc.amount"></gz-i18n>
    </div>
    <div>{{order.amount}} {{order.currency}}</div>
  </section>
  <section class="gz-row">
    <div>
      <gz-i18n key="otc.count"></gz-i18n>
    </div>
    <div>{{order.amount}} {{order.currency}}</div>
  </section>
  <section class="gz-row">
    <div>
      <gz-i18n key="otc.price"></gz-i18n>
    </div>
    <div>{{order.ad_data.legal_currency_rate}} {{order.ad_data.legal_currency}}</div>
  </section>

  <section class="gz-row-btn">
    <div class="btn btn-default gz-circle" (click)="cancelOrder()">
      <gz-i18n key="otc.cancelTransaction"></gz-i18n>
    </div>
    <div class="btn btn-primary gz-circle" *ngIf="order.ad_data.type === 'buy'" (click)="payOrder()">
      <gz-i18n key="otc.markPay"></gz-i18n>
    </div>
    <div class="btn btn-primary gz-circle" *ngIf="order.ad_data.type === 'sell'" (click)="sellOrder()">
      <gz-i18n key="otc.markReceive"></gz-i18n>
    </div>
  </section>
</article>
