<header class="gz-header-container">
  <div class="gz-header">
    <div>
      <fa-icon [icon]="['fas', 'chevron-left']" class="gz-back" (click)="goBack()"></fa-icon>
    </div>
    <div class="gz-title">
      <span  *ngIf="order?.ad_data?.type === 'buy'"><gz-i18n key="common.sale"></gz-i18n></span>
      <span  *ngIf="order?.ad_data?.type === 'sell'"><gz-i18n key="common.buy"></gz-i18n></span>
      <gz-i18n key="otc.order"></gz-i18n>
    </div>
    <div></div>
  </div>  
</header>


<article class="gz-order-detail"  *ngIf="order.my_data">
  <section class="gz-order-delay">
    <h3 *ngIf="order.status == 'unfinish'">
      {{delayDesc}}
    </h3>

    <p *ngIf="!this.isStop">
      <gz-i18n key="otc.orderDelay15Min"></gz-i18n>
    </p>
  </section>

  <div class="gz-list-td" *ngIf="this.order?.status == 'unfinish'">{{this.i18ns.order_status}}: {{this.i18ns.order_status_unfinish}} {{this.payStatus}}</div>
  <div class="gz-list-td" *ngIf="this.order?.status == 'finish'">{{this.i18ns.order_status}}: {{this.i18ns.order_status_finish}} {{this.payStatus}}</div>
  <div class="gz-list-td" *ngIf="this.order?.status == 'canceled'">{{this.i18ns.order_status}}: {{this.i18ns.order_status_canceled}} {{this.payStatus}}</div>
  <div class="gz-list-td" *ngIf="this.order?.status == 'dispute'">{{this.i18ns.order_status}}: {{this.i18ns.order_status_dispute}} {{this.payStatus}}</div>


  <section class="gz-row gz-row-1" *ngIf="this.isAdOwner">
    <div>
      <gz-i18n key="otc.buyer"></gz-i18n>
      {{this.order?.my_data?.username}}
    </div>  
    <fa-icon [icon]="['fas', 'exchange-alt']"></fa-icon>
    <div>
        <gz-i18n key="otc.seller"></gz-i18n>
        {{this.order?.ad_data?.user_data?.name}}
      </div>
  </section>
  <section class="gz-row gz-row-1"  *ngIf="!this.isAdOwner">
      <div>
        <gz-i18n key="otc.seller"></gz-i18n>
        {{this.order?.ad_data?.user_data?.name}}
      </div>
      <fa-icon [icon]="['fas', 'exchange-alt']"></fa-icon>
      <div>
        <gz-i18n key="otc.buyer"></gz-i18n>
        {{this.order?.my_data?.username}}
      </div>
    </section>

  <section class="gz-row">
    <div>
      <gz-i18n key="otc.orderNo"></gz-i18n>
    </div>
    <div>{{order.id}}</div>
  </section>
  <section class="gz-row">
    <div>
      <gz-i18n key="otc.amount"></gz-i18n>
    </div>
    <div>{{order.amount | cnyFormat }} {{order.ad_data.legal_currency}}</div>
  </section>
  <section class="gz-row">
    <div>
      <gz-i18n key="otc.count"></gz-i18n>
    </div>
    <div>{{ this.btccnt | btcFormat }} {{order.ad_data.crypto_currency}}</div>
  </section>
  <section class="gz-row">
    <div>
      <gz-i18n key="otc.price"></gz-i18n>
    </div>
    <div>{{order.ad_data.legal_currency_rate | cnyFormat}} {{order.ad_data.legal_currency}}</div>
  </section>

  <section class="gz-row-btn">
    <div class="btn btn-default gz-circle" (click)="cancelOrder()" *ngIf="this.isShowCancel">
      <gz-i18n key="otc.cancelTransaction"></gz-i18n>
    </div>
    <div class="btn btn-primary gz-circle" *ngIf="this.isShowSellDispute" (click)="sellMarkDispute()">
      <gz-i18n key="otc.markDispute"></gz-i18n>
    </div>
    <div class="btn btn-primary gz-circle" *ngIf="this.isShowSellConfirm" (click)="sellOrder()">
      <gz-i18n key="otc.markReceive"></gz-i18n>
    </div>
    <div class="btn btn-primary gz-circle" *ngIf="!this.isAdOwner && isShowBuyDispute" (click)="buyMarkDispute()">
      <gz-i18n key="otc.markDispute"></gz-i18n>
    </div>
    <div class="btn btn-primary gz-circle" *ngIf="!this.isAdOwner && isShowBuyPay" (click)="payOrder()">
      <gz-i18n key="otc.markPay"></gz-i18n>
    </div>
  </section>

  <div class="div_list_chat">
      <gz-list-chating *ngIf="adId" 
      [adId]="adId" 
      [orderId]="orderId" 
      [adUserId]="adUserId" 
      [anotherUserId]="anotherUserId" 
      [chatTitle]="Order"></gz-list-chating>
  </div>

  <footer>
      <div><hr/></div>
      <div>
          <textarea  rows="3" name="chatmsg" [(ngModel)]="chatmsg" class="chatmsg" ></textarea>
      </div>
      <div class="btn btn-outline-blue gz-circle" (click)="sendChatMsg()">
          <gz-i18n key="transaction.trans_send"></gz-i18n>
      </div>
  </footer>

</article>


<section class="gz-bg" *ngIf="isShowPayPassword" (click)="cancelSellerConfirm()"></section>
<div class="gz-popup" *ngIf="isShowPayPassword">
  <div class="gz-popup-content">
    <h3><gz-i18n key="user_trans_password.input_trans_password"></gz-i18n></h3>
    <div class="gz-popup-row">
        <input type="password"  placeholder="{{this.i18ns.input_trans_password}}"
             [(ngModel)]="paypassword"  autocomplete="new-password"  maxlength="40"
             >
    </div>
    
    <div class="gz-popup-btn-row">
        <div (click)="confirmSellerConfirm()">        
            <span>{{i18ns.confirm}}</span>
          </div>
      <div (click)="cancelSellerConfirm()">
        <span>{{i18ns.cancel}}</span>
      </div>
      
    </div>
  </div>
</div>