@import "../../../../constants";

.gz-help-center {
  background: $article_bg;
  padding: 10px;

  .gz-category {
    color: $sub_font_color;
    padding: 30px 0 10px;
  }

  .gz-help-title {
    font-size: 13px;
    padding: 10px 0;
  }
}
