<header class="gz-header-container">
  <div class="gz-header">
    <div>
      <fa-icon [icon]="['fas', 'chevron-left']" class="gz-back" (click)="goBack()"></fa-icon>
    </div>
    <div class="gz-title"><gz-i18n key="user.set_nickname"></gz-i18n></div>
    <div></div>
  </div>
</header>

<article class="gz-register gz-form">
  <section>
    <div class="gz-label {{isFocus('nickname')}}"><gz-i18n key="user.input_nickname"></gz-i18n></div>
    <div>
      <input type="text" class="{{isFocus('nickname')}}" placeholder="{{this.i18ns.input_nickname}}}"
             [(ngModel)]="nickname"
             (focus)="focus('nickname')" (blur)="blur('nickname')">
    </div>
  </section>
  <section class="gz-submit">
    <div class="btn gz-circle active" (click)="submit()"><gz-i18n key="common.save"></gz-i18n></div>
  </section>
</article>
