<header class="gz-header-container">
    <div class="gz-header">
      <div>
        <fa-icon [icon]="['fas', 'chevron-left']" class="gz-back" (click)="goBack()"></fa-icon>
      </div>
      
    </div>
  </header>
  
  <article class="gz-register gz-form">
    <section class="gz-country">
      <div style="min-width: 60px;"></div>
      <div class="gz-country-select" style="text-align: left;">
        <div [innerHTML]="this.bannerDescription" ></div>
        
      </div>
      <!-- <div>
        <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
      </div> -->
    </section>
  </article>
  