<div>
  <gz-menu class="gz-main-page-menu" [activeNavName]="'home'"></gz-menu>

  <header class="gz-header-container">
    <div class="gz-header">
      <div></div>
      <div class="btn-group gz-tab" role="group">
        <gz-i18n key="tabsPage.home"></gz-i18n>
      </div>
      <div></div>
    </div>
  </header>

  <article>
      <app-swiper-slide >
      </app-swiper-slide>
      

    
    <!--<app-swiper-slide>
      <div class="swiper-slide self-slide"  >
        <div class="swiper-slide" >
          <img src="./assets/images/1.jpg" alt="" width="100%">
        </div>
        <div class="swiper-slide" >
          <img src="./assets/images/2.jpg" alt="" width="100%">
        </div>
        </div>
    </app-swiper-slide>-->

    <!--
    <section class="gz-ad-slide gz-ad-slide-ad">
      <ul class="gz-ad-slide-circle">
        <li class="gz-active"></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <div class="gz-ad-slide-img">
        <ul class="gz-ad-slide-imgs">
          <li><img src="./assets/images/1.jpg"></li>
          <li><img src="./assets/images/2.jpg"></li>
          <li><img src="./assets/images/3.jpg"></li>
          <li><img src="./assets/images/4.jpg"></li>
        </ul>
      </div>
    </section>-->

    <section class="gz-coin" *ngIf="coinPrices.length > 0">
      <div class="gz-list-title">
        <div>
          <gz-i18n key="home.coinPrice"></gz-i18n>
        </div>
        <div>
          <!--<fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>-->
        </div>
      </div>
      <div class="gz-coin-price" *ngFor="let price of coinPrices">
        <div class="gz-coin-type">
          <div>
            <b>{{price.coinType}}</b>
          </div>
        </div>
        <div class="gz-coin-rate">
          <b>{{price.USD}} USD</b>
          <span>{{price.CNY}} CNY</span>
        </div>
        <div class="gz-coin-change">
          <div class="gz-price-up" *ngIf="price.changePercent >= 0">
            <img src="/assets/images/icon-up.png" alt="" class="gz-icon">
            <b>{{price.changePercent}}%</b>
          </div>
          <div class="gz-price-down" *ngIf="price.changePercent < 0">
            <img src="/assets/images/icon-down.png" alt="" class="gz-icon">
            {{price.changePercent}}%
          </div>
        </div>
      </div>
    </section>


    <section class="gz-ad-slide gz-ad-slide-homeotc" *ngIf="otcTransactions.length > 0">
      <!--<ul class="gz-ad-slide-circle swiper-pagination footcsPagination">
        <li class="" *ngFor="let otcAds of otcTransactions">
      </ul>-->
      <div class="gz-ad-slide-img">
        <div class="gz-list-title" routerLink="/otc">
          <div>
            <gz-i18n key="home.otc"></gz-i18n>
          </div>
          <div>
            <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
          </div>
        </div>

        <div class="swiper-container footcs">
          <ul class="gz-ad-slide-imgs swiper-wrapper" *ngIf="otcTransactions.length > 0">
            <li class="swiper-slide" *ngFor="let otcAds of otcTransactions">
              <div class="adCls {{otcAd.adType ? '' : 'gz-no-border'}}" *ngFor="let otcAd of otcAds">
                <div>
                  <img src="{{otcAd.avatar | avatar}}">
                </div>
                <div>{{otcAd.currencyAmount}} {{otcAd.currency}}</div>
                <div>
                  <div *ngIf="payTypeObj[otcAd.payType]">{{payTypeObj[otcAd.payType].name}}</div>
                </div>
                <div *ngIf="otcAd.adType">
                  <div class="btn btn-primary" (click)="toTransaction(otcAd.id)">
                    <span *ngIf="otcAd.adType == 'buy'">
                      <gz-i18n key="common.sale"></gz-i18n>
                    </span>
                    <span *ngIf="otcAd.adType == 'sell'">
                      <gz-i18n key="common.buy"></gz-i18n>
                    </span>
                    <span>{{otcAd.coinType}}</span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="swiper-pagination footcsPagination"></div>
        </div>

      </div>
    </section>
  </article>

  <footer class="gz-empty-foot"></footer>
</div>
