<div>
  <gz-menu class="gz-main-page-menu" [activeNavName]="'home'"></gz-menu>

  <header class="gz-header-container">
    <div class="gz-header">
      <div></div>
      <div class="btn-group gz-tab" role="group">
        首页
      </div>
      <div></div>
    </div>
  </header>

  <article>

    <section class="gz-ad-slide gz-ad-slide-ad">
      <ul class="gz-ad-slide-circle">
        <li class="gz-active"></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <div class="gz-ad-slide-img">
        <ul class="gz-ad-slide-imgs">
          <li><img src="./assets/images/1.jpg"></li>
          <li><img src="./assets/images/2.jpg"></li>
          <li><img src="./assets/images/3.jpg"></li>
          <li><img src="./assets/images/4.jpg"></li>
        </ul>
      </div>
    </section>

    <section class="gz-coin">
      <div class="gz-list-title">
        <div>币币行情</div>
        <div>
          <!--<fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>-->
        </div>
      </div>
      <div class="gz-coin-price">
        <div>
          <div>
            <b>BTC</b>
            <span>/</span>
            <span>USDT</span>
          </div>
        </div>
        <div>
          <b>6004.12</b>
          <span>6004.12</span>
        </div>
        <div>
          <div class="btn gz-btn-price-up">
            <b>-0.05%</b>
          </div>
          <!--<div class="btn gz-btn-price-down">+0.99%</div>-->
        </div>
      </div>
      <div class="gz-coin-price">
        <div>
          <div>
            <b>BTC</b>
            <span>/</span>
            <span>USDT</span>
          </div>
        </div>
        <div>
          <b>6004.12</b>
          <span>6004.12</span>
        </div>
        <div>
          <!--<div class="btn gz-btn-price-up">-0.05%</div>-->
          <div class="btn gz-btn-price-down">
            <b>+0.99%</b>
          </div>
        </div>
      </div>
    </section>


    <section class="gz-ad-slide gz-ad-slide-homeotc">
      <ul class="gz-ad-slide-circle">
        <li class="" *ngFor="let otcAds of otcTransactions">
      </ul>
      <div class="gz-ad-slide-img">
        <div class="gz-list-title">
          <div>场外交易</div>
          <div>
            <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
          </div>
        </div>
        <ul class="gz-ad-slide-imgs" *ngIf="otcTransactions.length > 0">
          <li *ngFor="let otcAds of otcTransactions">
            <div class="{{otcAd.adType ? '' : 'gz-no-border'}}" *ngFor="let otcAd of otcAds">
              <div *ngIf="otcAd.avatar">
                <img src="{{otcAd.avatar | avatar}}">
              </div>
              <div>{{otcAd.currencyAmount}} {{otcAd.currency}}</div>
              <div>
                <div *ngIf="payTypeObj[otcAd.payType]">{{payTypeObj[otcAd.payType].name}}</div>
              </div>
              <div *ngIf="otcAd.adType">
                <div class="btn btn-primary" (click)="toTransaction(otcAd.id)">
                  <span *ngIf="otcAd.adType == 'buy'">出售</span>
                  <span *ngIf="otcAd.adType == 'sell'">购买</span>
                  <span>{{otcAd.coinType}}</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </article>
</div>
