@import "../../../../constants";

nav {

  ul {

    li {
      color: $link_default_color;

      &.active {
        color: $link_active_color;

        a {
          color: $link_active_color;

          &:visited, &:hover, &:active {
            color: $link_active_color;
          }
        }
      }

      a {
        color: $link_default_color;

        &:visited, &:hover, &:active {
          color: $link_default_color;
        }
      }
    }
  }
}

