<nav class="gz-menu">
  <ul class="nav">
    <li class="nav-item" [class]="isActiveNav('home')" (click)="navTo('home')" routerLink="/home">
      <img src="/assets/images/menu/{{getHomeImg('home')}}" alt="" class="gz-icon">
    </li>
    <li class="nav-item" [class]="isActiveNav('otc')" (click)="navTo('otc')" routerLink="/otc">
      <img src="/assets/images/menu/{{getHomeImg('otc')}}" alt="" class="gz-icon">
    </li>
    <li class="nav-item" [class]="isActiveNav('wallet')" (click)="navTo('wallet')" routerLink="/wallet">
      <img src="/assets/images/menu/{{getHomeImg('wallet')}}" alt="" class="gz-icon">
    </li>
    <li class="nav-item" [class]="isActiveNav('my')" (click)="navTo('my')" routerLink="/my">
      <img src="/assets/images/menu/{{getHomeImg('my')}}" alt="" class="gz-icon">
    </li>
  </ul>
</nav>
