<header class="gz-header-container">
  <div class="gz-header">
    <div>
      <fa-icon [icon]="['fas', 'chevron-left']" class="gz-back" (click)="goBack()"></fa-icon>
    </div>
    <div class="gz-title">
        <gz-i18n key="user_collection.alicolInfo" *ngIf="settype=='ali'"></gz-i18n>
        <gz-i18n key="user_collection.wxcolInfo" *ngIf="settype=='wx'"></gz-i18n>
        <gz-i18n key="user_collection.ebankcolInfo" *ngIf="settype=='ebank'"></gz-i18n>
    </div>
    <div></div>
  </div>
</header>
<div class="loader" *ngIf="!showTip">Loading...</div>
<article class="gz-form" *ngIf="showTip">
  <!--ali-->
  <section class="gz-mt-10" *ngIf="settype=='ali'">
    <div style="min-width: 60px;"><gz-i18n key="user_collection.aliacct"></gz-i18n></div>
    <div class="gz-edit-left">
      <input type="text" placeholder="{{this.i18ns.aliacct}}" [(ngModel)]="aliAccount" (keyup)="formatChar($event)" tabindex="1"
       maxlength="200">
    </div>
  </section>
  <section class="gz-mt-10" *ngIf="settype=='ali'">
    <div style="min-width: 60px;"><gz-i18n key="user_collection.aliacctname"></gz-i18n></div>
    <div class="gz-edit-left">
      <input type="text" placeholder="{{this.i18ns.aliacctname}}" [(ngModel)]="aliUserName" (keyup)="formatChar($event)" tabindex="2"
       maxlength="200">
    </div>
  </section>
  <section class="gz-full-img " *ngIf="settype=='ali'">
    <div class="inputFileWrapper fetchCur" *ngIf="!loading">
      <label for="">
        <input type="file" #aliImgFile (change)="imgChange($event, aliImg)" tabindex="3">
          <span class="custorm-style">
              <span class="left-button" (click)="selectImg(aliImgFile)">{{this.i18ns.paypic}}</span>
              <span class="right-text"  (click)="selectImg(aliImgFile)">{{aliImg.name}}</span>
          </span>
      </label>
    </div>
    <img alt="{{this.i18ns.QRCode}}" [src]="aliImg.src || '/assets/images/ali.png'" >
  </section>

  <!--wx-->
  <section class="gz-mt-10" *ngIf="settype=='wx'">
      <div style="min-width: 60px;"><gz-i18n key="user_collection.wechatacct"></gz-i18n></div>
      <div class="gz-edit-left">
        <input type="text" placeholder="{{this.i18ns.wechatacct}}" [(ngModel)]="wxAccount" (keyup)="formatChar($event)" tabindex="1"
         maxlength="200">
      </div>
    </section>
    <section class="gz-mt-10" *ngIf="settype=='wx'">
      <div style="min-width: 60px;"><gz-i18n key="user_collection.wechatacctname"></gz-i18n></div>
      <div class="gz-edit-left">
        <input type="text" placeholder="{{this.i18ns.wechatacctname}}" [(ngModel)]="wxUserName" (keyup)="formatChar($event)" tabindex="2"
         maxlength="200">
      </div>
    </section>
    <section class="gz-full-img " *ngIf="settype=='wx'">
      <div class="inputFileWrapper fetchCur" *ngIf="!loading">
        <label for="">
          <input type="file" #wxImgFile (change)="imgChange($event, wxImg)" tabindex="3">
            <span class="custorm-style">
                <span class="left-button" (click)="selectImg(wxImgFile)">{{this.i18ns.paypic}}</span>
                <span class="right-text"  (click)="selectImg(wxImgFile)">{{wxImg.name}}</span>
            </span>
        </label>
      </div>
      <img alt="{{this.i18ns.QRCode}}" [src]="wxImg.src || '/assets/images/wechat.png'" >
    </section>

  <!--ebank-->
  <section class="gz-mt-10" *ngIf="settype=='ebank'">
      <div style="min-width: 60px;"><gz-i18n key="user_collection.bankname"></gz-i18n></div>
      <div class="gz-edit-left">
        <input type="text" placeholder="{{this.i18ns.bank}}" [(ngModel)]="ebankName" (keyup)="formatChar($event)" tabindex="1"
         maxlength="200">
      </div>
    </section>
    <section class="gz-mt-10" *ngIf="settype=='ebank'">
      <div style="min-width: 60px;"><gz-i18n key="user_collection.branchname"></gz-i18n></div>
      <div class="gz-edit-left">
        <input type="text" placeholder="{{this.i18ns.branchname}}" [(ngModel)]="ebankBranch" (keyup)="formatChar($event)" tabindex="2"
         maxlength="200">
      </div>
    </section>
  <section class="gz-mt-10" *ngIf="settype=='ebank'">
      <div style="min-width: 60px;"><gz-i18n key="user_collection.acctno"></gz-i18n></div>
      <div class="gz-edit-left">
        <input type="text" placeholder="{{this.i18ns.acctno}}" [(ngModel)]="ebankAccount" (keyup)="formatChar($event)" tabindex="3"
         maxlength="200">
      </div>
    </section>
    <section class="gz-mt-10" *ngIf="settype=='ebank'">
      <div style="min-width: 60px;"><gz-i18n key="user_collection.acctname"></gz-i18n></div>
      <div class="gz-edit-left">
        <input type="text" placeholder="{{this.i18ns.acctname}}" [(ngModel)]="ebankUserName"  (keyup)="formatChar($event)" (ngModelChange)="ebankUserName=$event" tabindex="4"
         maxlength="200">
      </div>
    </section>

  <section class="gz-submit">
      <button class="btn btn-primary gz-circle" *ngIf="!loading" gzDelayClick (debounceClick)="submit($event)" [debounceTime]="500" [timeOut]="6000" tabindex="5">
        <gz-i18n key="user_real_cert.submit"></gz-i18n></button>
        
  </section>

</article>

<gz-loading [showLoading]="loading"></gz-loading>