<gz-menu class="gz-main-page-menu" [activeNavName]="'my'"></gz-menu>

<header class="gz-header-container">
  <div class="gz-header">
    <div></div>
    <div class="gz-title">
      <gz-i18n key="tabsPage.my"></gz-i18n>
    </div>
    <div></div>
  </div>
</header>

<article class="gz-my">
  <section class="gz-user">
    <img *ngIf="!(user && user.avatar)" src="./assets/images/logo.jpg" (click)="setAvatar(avatarFile)"/>
    <img *ngIf="user && user.avatar" src="{{user.avatar | avatar}}" (click)="setAvatar(avatarFile)"/>
    <input type="file" class="gz-avatar-file" #avatarFile (change)="fileChange($event)" style="visibility: hidden;">
    <div *ngIf="!(user && user.id)">
      <div routerLink="/login">
        <gz-i18n key="user.loginOrRegister"></gz-i18n>
      </div>
      <div>
        <gz-i18n key="user.loginDesc"></gz-i18n>
      </div>
    </div>
    <div *ngIf="user && user.id">
      <div>{{user.username}}</div>
      <div>
        <span><gz-i18n key="common.transaction"></gz-i18n></span>
        <span>{{user.transaction_count}}</span>
        <span>|</span>
        <span><gz-i18n key="otc.praiseCount"></gz-i18n></span>
        <span>{{user.positive_count}}%</span>
        <span>|</span>
        <span><gz-i18n key="common.trust"></gz-i18n></span>
        <span>{{user.trust_count}}</span>
      </div>
    </div>
  </section>

  <section class="gz-my-group">
    <!--<div class="gz-my-row">-->
    <!--<div class="gz-my-left">-->
    <!--<div>-->
    <!--<img src="/assets/images/my-user.png" alt="" class="gz-icon">-->
    <!--</div>-->
    <!--<div>邀请好友</div>-->
    <!--</div>-->
    <!--<div class="gz-my-right">-->
    <!--<div class="gz-right-info">邀友得奖励</div>-->
    <!--<div>-->
    <!--<fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="gz-my-row" (click)="goToSetting()">
      <div class="gz-my-left">
        <div>
          <img src="/assets/images/icon-setting.png" alt="" class="gz-icon">
        </div>
        <div>
          <gz-i18n key="common.setting"></gz-i18n>
        </div>
      </div>
      <div class="gz-my-right">
        <div>
          <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
        </div>
      </div>
    </div>
    <div class="gz-my-row" routerLink="/helpCenter">
      <div class="gz-my-left">
        <div>
          <img src="/assets/images/icon-question.png" alt="" class="gz-icon">
        </div>
        <div>
          <gz-i18n key="common.helpCenter"></gz-i18n>
        </div>
      </div>
      <div class="gz-my-right">
        <div>
          <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
        </div>
      </div>
    </div>
    <div class="gz-my-row" (click)="logout()" *ngIf="isHadLogin">
      <div class="gz-my-left">
        <div>
          <img src="/assets/images/icon-shutdown.png" alt="" class="gz-icon">
        </div>
        <div>
          <gz-i18n key="user.logout"></gz-i18n>
        </div>
      </div>
      <div class="gz-my-right">
        <div>
          <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
        </div>
      </div>
    </div>
  </section>
</article>
