<header class="gz-header-container">
  <div class="gz-header">
    <div>
      <fa-icon [icon]="['fas', 'chevron-left']" class="gz-back" (click)="goBack()"></fa-icon>
    </div>
    <div class="gz-title">
      <span  *ngIf="order?.ad_data?.type === 'buy'"><gz-i18n key="common.sale"></gz-i18n></span>
      <span  *ngIf="order?.ad_data?.type === 'sell'"><gz-i18n key="common.buy"></gz-i18n></span>
      <gz-i18n key="otc.order"></gz-i18n>
    </div>
    <div></div>
  </div>  
</header>


<article class="gz-order-detail"  *ngIf="order.my_data">
  <section class="gz-order-delay">
    <h3 *ngIf="order.status == 'unfinish'">
      {{delayDesc}}
    </h3>
    <h3 *ngIf="this.isShowHadPaidNeedConfirm">
        {{delayDesc2}}
      </h3>
    <p *ngIf="!this.isStop">
      {{this.i18ns.orderDelay15Min}}
    </p>

    <p *ngIf="this.isShowHadPaidNeedConfirm" class="hadPaidNeedConfirm">
      {{this.i18ns.merchant_msg_1}} <br/>
      {{this.i18ns.merchant_msg_2}} <br/>
      {{this.i18ns.merchant_msg_3}} <br/>
     
    </p>
  </section>

  
  <div class="gz-list-td fontSize hadPaidNeedConfirm" *ngIf="this.order?.ad_data.is_merchant != 1 && this.order?.status == 'unfinish'">{{this.i18ns.order_status}}: {{this.i18ns.order_status_unfinish}}, {{this.payStatus}}</div>
  <div class="gz-list-td fontSize hadPaidNeedConfirm" *ngIf="this.order?.status == 'finish'">{{this.i18ns.order_status}}: {{this.i18ns.order_status_finish}}, {{this.payStatus}}</div>
  <div class="gz-list-td fontSize hadPaidNeedConfirm" *ngIf="this.order?.ad_data.is_merchant != 1 && this.order?.status == 'canceled'">{{this.i18ns.order_status}}: {{this.i18ns.order_status_canceled}}, {{this.payStatus}}</div>
  <div class="gz-list-td fontSize hadPaidNeedConfirm" *ngIf="this.order?.ad_data.is_merchant != 1 && this.order?.status == 'dispute'">{{this.i18ns.order_status}}: {{this.i18ns.order_status_dispute}}, {{this.payStatus}}</div>
  <div class="gz-list-td fontSize hadPaidNeedConfirm" *ngIf="this.order?.ad_data.is_merchant == 1 && this.order?.status == 'dispute'">{{this.i18ns.order_status}}: {{this.i18ns.order_status_dispute}}</div>

  <section class="gz-row gz-row-1" *ngIf="!this.isAdOwner">
    <div>
      <gz-i18n key="otc.buyer"></gz-i18n>
      {{this.order?.ad_data?.user_data?.name}}
    </div>  
    <fa-icon [icon]="['fas', 'exchange-alt']"></fa-icon>
    <div>
        <gz-i18n key="otc.seller"></gz-i18n>
        {{this.order?.my_data?.username}}
      </div>
  </section>
  
  <section class="gz-row gz-row-1"  *ngIf="this.isAdOwner">
      <div>
        <gz-i18n key="otc.seller"></gz-i18n>
        {{this.order?.my_data?.username}}
      </div>
      <fa-icon [icon]="['fas', 'exchange-alt']"></fa-icon>
      <div>
        <gz-i18n key="otc.buyer"></gz-i18n>
        {{this.order?.ad_data?.user_data?.name}}
      </div>
    </section>

  <section class="gz-row">
    <div>
      <gz-i18n key="otc.orderNo"></gz-i18n>
    </div>
    <div>{{order.id}}</div>
  </section>
  <section class="gz-row">
    <div>
      <gz-i18n key="otc.amount"></gz-i18n>
    </div>
    <div>{{order.amount | cnyFormat}} {{order.ad_data.legal_currency}}</div>
  </section>
  <section class="gz-row">
    <div>
      <gz-i18n key="otc.count"></gz-i18n>
    </div>
    <div>{{ this.btccnt  | btcFormat }} {{order.ad_data.crypto_currency}}</div>
  </section>
  <section class="gz-row">
    <div>
      <gz-i18n key="otc.price"></gz-i18n>
    </div>
    <div>{{order.ad_data.legal_currency_rate | cnyFormat }} {{order.ad_data.legal_currency}}</div>
  </section>

  <section class="gz-row-btn">
    <div class="btn btn-primary gz-circle" gzDelayClick (debounceClick)="cancelOrder($event)" *ngIf="this.isShowCancel">
      <gz-i18n key="otc.cancelTransaction"></gz-i18n>
    </div>
    <div class="btn btn-primary gz-circle" *ngIf="!isHiddenByTimeout && this.isShowSellDispute" gzDelayClick (debounceClick)="sellMarkDispute($event)" [debounceTime]="1000" [timeOut]="10000">
      <gz-i18n key="otc.markDispute"></gz-i18n>
    </div>
    <div class="btn btn-primary gz-circle" *ngIf="!isHiddenByTimeout && this.isShowSellConfirm" gzDelayClick (debounceClick)="sellOrder($event)" [debounceTime]="1000" [timeOut]="10000">
      <gz-i18n key="otc.markReceive"></gz-i18n>
    </div>
    <div class="btn btn-primary gz-circle" *ngIf="this.isAdOwner && isShowBuyDispute" gzDelayClick (debounceClick)="buyMarkDispute($event)" [debounceTime]="1000" [timeOut]="10000">
      <gz-i18n key="otc.markDispute"></gz-i18n>
    </div>
    <div class="btn btn-primary gz-circle" *ngIf="this.isAdOwner && isShowBuyPay" gzDelayClick (debounceClick)="payOrder($event)" [debounceTime]="1000" [timeOut]="10000">
      <gz-i18n key="otc.markPay"></gz-i18n>
    </div>
  </section>

  <div class="div_list_chat">
    <gz-list-chating *ngIf="adId" 
    [adId]="adId" 
    [orderId]="orderId" 
    [adUserId]="adUserId" 
    [anotherUserId]="anotherUserId" 
    [chatTitle]="Order"></gz-list-chating>
  </div>

  <footer>
      <div><hr/></div>
      <div>
          <textarea  rows="3" name="chatmsg" [(ngModel)]="chatmsg" class="chatmsg" tabindex="1"></textarea>
      </div>
      <div class="btn btn-primary gz-circle" (click)="sendChatMsg()" (keyup.enter)="sendChatMsg()" tabindex="2">
          <gz-i18n key="transaction.trans_send"></gz-i18n>
      </div>
  </footer>
  <section>
    <gz-certificate [orderid]="this.orderId" [adid]="this.adId"  *ngIf="this.order?.status == 'dispute'"></gz-certificate>
  </section>
</article>

<section class="gz-bg" *ngIf="isShowPayPassword" gzDelayClick (debounceClick)="cancelSellerConfirm()"></section>
<div class="gz-popup" *ngIf="isShowPayPassword">
  <div class="gz-popup-content">
    <h3><gz-i18n key="user_trans_password.input_trans_password"></gz-i18n></h3>
    <div class="gz-popup-row">
      <!-- 额外增加的内容 -->
<form style="display:none">
    <input type="password"/>
  </form>
  <input type="password" style="width:0;height:0;float:left;visibility:hidden"/>
  
        <input type="password"  placeholder="{{this.i18ns.input_trans_password}}" *ngIf="!isShowPassword"
             [(ngModel)]="paypassword"  autocomplete="new-password"  maxlength="40"> 
        <input type="text"  placeholder="{{this.i18ns.input_trans_password}}" *ngIf="isShowPassword"
             [(ngModel)]="paypassword"  autocomplete="new-password"  maxlength="40"> 
        <fa-icon [icon]="['fas', 'eye-slash']" *ngIf="!isShowPassword" (click)="showPassword(true)"></fa-icon>
        <fa-icon class="gz-active" [icon]="['fas', 'eye']" *ngIf="isShowPassword" (click)="showPassword(false)"></fa-icon>
    </div>
    
    <div class="gz-popup-btn-row">
      
      <div (click)="confirmSellerConfirm()">        
        <span>{{i18ns.confirm}}</span>
      </div>
      <div (click)="cancelSellerConfirm()">
          <span>{{i18ns.cancel}}</span>
        </div>
    </div>
  </div>
</div>
