@import "../../../constants";

.gz-transaction {
  padding: 0;

  section {
    padding: 10px;
  }

  gz-user-detail {
    width: 100%;
  }

  .gz-exchange, .gz-exchange-notify, .gz-exchange-foot {
    background: $article_bg;
    margin-top: $section_margin_top;
    padding: 10px 20px;

    .gz-input-row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      fa-icon {
        font-size: 22px;
        margin: 0 10px;
      }

      input {
        width: 100%;
        padding-left: 20px;
      }
    }

    p {
      margin-bottom: 5px;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  border-top: 1px solid $border_default;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .gz-concat {
    padding-left: 20px;
  }
}

.gz-bg {

}

.gz-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gz-popup-content {
  width: 80%;
  background: $article_bg;
  z-index: 100;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 0px 0 0px;

  .gz-popup-row {
    display: flex;
    justify-content: space-between;
    padding: 4px 20px;
  }

  .gz-warn {
    color: $warn_font_color;
  }

  .gz-popup-btn-row {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid $border_default;
    margin-top: 10px;
    line-height: 30px;

    & > div {
      width: 50%;
      color: $link_active_color;
    }
    & > div:first-child {
      border-right: 1px solid $border_default;
    }
  }
}


