<header class="gz-header-container">
  <div class="gz-header">
    <div>
      <fa-icon [icon]="['fas', 'chevron-left']" class="gz-back" (click)="goBack()"></fa-icon>
    </div>
    <div class="gz-title" *ngIf="data.adType == '2'">
      <span>{{i18ns.sale}}</span>
      <span>{{data.transactionCoinType}}</span>
    </div>
    <div></div>
    <!--<div (click)="goToHelp()">{{i18ns.help}}</div>-->
  </div>
</header>

<article class="gz-form gz-transaction">
  <gz-user-detail *ngIf="data.userId"
                  rightTop="money"
                  [userId]="data.userId"
                  [coinType]="data.transactionCoinType"
                  [headHrefUrl]="'/user'"
                  [leftTopTxt]="getLeftTopTxt()"
                  [rightTopTxt]="data.rate + ' ' + data.transactionCurrency"
                  [remark]="getRemark()"
  ></gz-user-detail>

   <section class="gz-exchange">
      <gz-i18n key="otc.payType"></gz-i18n>
      
      <img src="/assets/images/pay_ap.jpg" title="{{this.i18ns.ap_alipay}}" alt="{{this.i18ns.ap_alipay}}"  class="gz-icon" *ngIf="data.is_payment_ap"> 
      &nbsp;
      <img src="/assets/images/pay_wp.jpg" title="{{this.i18ns.wp_wechatpay}}" alt="{{this.i18ns.wp_wechatpay}}"  class="gz-icon" *ngIf="data.is_payment_wp"> 
      &nbsp;
      <img src="/assets/images/pay_pp.jpg" title="{{this.i18ns.pp_paypal}}" alt="{{this.i18ns.pp_paypal}}"  class="gz-icon" *ngIf="data.is_payment_pp"> 
      &nbsp;
      <img src="/assets/images/pay_bt.jpg" title="{{this.i18ns.bt_bank_transfer}}" alt="{{this.i18ns.bt_bank_transfer}}"  class="gz-icon" *ngIf="data.is_payment_bt">
      &nbsp;
  </section> 
  
  

  <section class="gz-exchange" *ngIf="data.userId != userId">
    <div *ngIf="data.adType == '1'">{{i18ns.wantBuy}}</div>
    <div *ngIf="data.adType == '2'">{{i18ns.wantSale}}</div>
    <div *ngIf="data.adType == '2' && payAmount >= 0">{{getLeftPlacehold()}}</div>
    <div class="gz-input-row">
      <span *ngIf="data.adType == '2'">{{data.transactionCoinType}}</span>
      <span *ngIf="data.adType == '1'">{{data.transactionCurrency}}</span>

      <input type="text" [(ngModel)]="payAmount"
      #payAmountVars
      (keyup)="onKeyPress_Pay(payAmountVars.value)" [placeholder]="getLeftPlacehold()">
      <fa-icon [icon]="['fas', 'exchange-alt']"></fa-icon>
      <span *ngIf="data.adType == '2'">{{data.transactionCurrency}}</span>
      <span *ngIf="data.adType == '1'">{{data.transactionCoinType}}</span>
      <input type="text" [(ngModel)]="receiveAmount"
      #receiveAmountVars
       (keyup)="onKeyPress_Recevice(receiveAmountVars.value)" [placeholder]="getRightPlacehold()">
    </div>
  </section>

  <section class="gz-exchange-notify">
    <p>{{i18ns.saleWarn_1}}</p>
    <p>{{i18ns.saleWarn_2}}</p>
    <p>{{i18ns.saleWarn_3}}</p>
    <p>{{i18ns.saleWarn_4}}</p>
  </section>

</article>

<footer>
  <div class="gz-concat" (click)="goToChat()">
    <fa-icon [icon]="['fas', 'comment-dots']"></fa-icon>
    {{i18ns.contact}}
  </div>
  <div class="btn gz-foot-blue" *ngIf="data.userId != userId" (click)="transaction()">
    <span *ngIf="data.adType == '2'">{{i18ns.sale}}</span>
    <span *ngIf="data.adType == '1'">{{i18ns.buy}}</span>
  </div>
  <div class="btn gz-foot-blue" *ngIf="data.userId == userId" (click)="obtained()">
    <span><gz-i18n key="transaction.obtained"></gz-i18n></span>
  </div>
  <!--<div class="btn gz-foot-blue" *ngIf="data.userId == userId" (click)="edit()">-->
    <!--<span>编辑</span>-->
  <!--</div>-->
</footer>

<section class="gz-bg" *ngIf="isShowConfirm" (click)="cancelTransaction()"></section>
<div class="gz-popup" *ngIf="isShowConfirm">
  <div class="gz-popup-content">
    <h3><gz-i18n key="transaction.order_confirm"></gz-i18n></h3>
    <div class="gz-popup-row">
      <div><gz-i18n key="otc.price"></gz-i18n></div>
      <div>{{data.rate}} {{data.transactionCurrency}}</div>
    </div>
    <div class="gz-popup-row">
      <div><gz-i18n key="otc.amount"></gz-i18n></div>
      <div *ngIf="this.data.adType === '1'" >{{payAmount  | number:"0.2"}} {{data.transactionCurrency}}</div>
      <div *ngIf="this.data.adType === '2'" >{{payAmount  | number:"0.8"}} {{data.transactionCurrency}}</div>
    </div>
    <div class="gz-popup-row">
      <div><gz-i18n key="otc.count"></gz-i18n></div>
      <div *ngIf="this.data.adType === '1'" >{{receiveAmount | number:"0.8"}} {{data.transactionCoinType}}</div>
      <div *ngIf="this.data.adType === '2'" >{{receiveAmount | number:"0.2"}} {{data.transactionCoinType}}</div>
    </div>
    <div>
      <div class="gz-warn"><gz-i18n key="transaction.order_warn"></gz-i18n></div>
    </div>
    <div class="gz-popup-btn-row">
      <div (click)="cancelTransaction()">
        <span *ngIf="data.adType == '1'">{{i18ns.cancel_buy}}</span>
        <span *ngIf="data.adType == '2'">{{i18ns.cancel_sell}}</span>
      </div>
      <div (click)="confirmTransaction()">        
        <span *ngIf="data.adType == '1'">{{i18ns.confirm_buy}}</span>
        <span *ngIf="data.adType == '2'">{{i18ns.confirm_sell}}</span>
      </div>
    </div>
  </div>
</div>
