<div class="gz-action-transfer">
  <div class="gz-transfer-title">
    <div><gz-i18n key="element_coin_trans.coin_account"></gz-i18n></div>
    <div class="gz-transfer-title-m">
      <div class="gz-transfer-title-m1"><gz-i18n key="element_coin_trans.trans_to"></gz-i18n></div>
      <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
    </div>
    <div><gz-i18n key="element_coin_trans.otc_account"></gz-i18n></div>
  </div>
  <div class="gz-transfer-left"><gz-i18n key="element_coin_trans.trans_amount"></gz-i18n></div>
  <div class="gz-transfer-left">
    <input type="text">
  </div>
  <div class="gz-notice gz-full-width"><gz-i18n key="element_coin_trans.info"></gz-i18n></div>
  <div>
    <div class="btn btn-primary gz-circle"><gz-i18n key="element_coin_trans.confirm"></gz-i18n></div>
  </div>
  <div class="gz-notice"><gz-i18n key="element_coin_trans.notice"></gz-i18n></div>
</div>
