<div class="gz-action-transfer">
  <div class="gz-transfer-title">
    <div>币币账户</div>
    <div class="gz-transfer-title-m">
      <div class="gz-transfer-title-m1">转至</div>
      <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
    </div>
    <div>场外账户</div>
  </div>
  <div class="gz-transfer-left">转入场外数量</div>
  <div class="gz-transfer-left">
    <input type="text">
  </div>
  <div class="gz-notice gz-full-width">币币账户可转资产0.00000000 BTC</div>
  <div>
    <div class="btn gz-circle">确认</div>
  </div>
  <div class="gz-notice">币币账户与场外账户可自由划转，资产划转是实时且免费的</div>
</div>
