<header class="gz-header-container">
  <div class="gz-header">
    <div>
      <fa-icon [icon]="['fas', 'chevron-left']" class="gz-back" (click)="goBack()"></fa-icon>
    </div>
    <div class="gz-title">
      <gz-i18n key="common.login"></gz-i18n>
    </div>
    <div>
      <div routerLink="/register">
        <gz-i18n key="common.registry"></gz-i18n>
      </div>
    </div>
  </div>
</header>
<div style="display:none;">
    <input type="password"  autocomplete="new-password" />
  </div>
<article class="gz-login gz-form" *ngIf="!isLoading">
  <section class="gz-country">
    <div style="min-width: 60px;">
      <gz-i18n key="common.country"></gz-i18n>
    </div>
    <div class="gz-country-select">
      <select [(ngModel)]="countryCode">
        <option *ngFor="let cc of countryCodes" value="{{cc.code}}">
          {{cc.name}}({{cc.code}})
        </option>
      </select>
    </div>
    <div>
      <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
    </div>
  </section>
  <section>
    <div class="gz-label {{isFocus('phone')}}">
      <gz-i18n key="user.inputPhone"></gz-i18n>
    </div>
    <div>
      <input type="text" class="{{isFocus('phone')}}" placeholder="{{i18ns.inputPhone}}" [(ngModel)]="phone"
      maxlength="15"
      (focus)="focus('phone')" (blur)="blur('phone')" >
    </div>
  </section>
  <section>
    <div class="gz-label {{isFocus('password')}}">
      <gz-i18n key="user.inputPassword"></gz-i18n>
    </div>
    <div class="gz-password">
        <input type="text" style="display:none;" />
      <input type="password" class="{{isFocus('password')}}" placeholder="{{i18ns.inputPassword}}" [(ngModel)]="password" *ngIf="!isShowPassword"
          (focus)="focus('password')" (blur)="blur('password')"  autocomplete="new-password" maxlength="40" >
      <input type="text" class="{{isFocus('password')}}" placeholder="{{i18ns.inputPassword}}" [(ngModel)]="password" *ngIf="isShowPassword" (focus)="focus('password')"
          (blur)="blur('password')"  autocomplete="new-password"  maxlength="40" >
      <fa-icon [icon]="['fas', 'eye-slash']" *ngIf="!isShowPassword" (click)="showPassword(true)"></fa-icon>
      <fa-icon class="gz-active" [icon]="['fas', 'eye']" *ngIf="isShowPassword" (click)="showPassword(false)"></fa-icon>
    </div>
  </section>
  <section>
      <div class="gz-label {{isFocus('smsCode')}}">{{i18ns.inputSmsCode}}</div>
      <div style="position: relative;">
        <input type="text" class="{{isFocus('smsCode')}}" placeholder="{{i18ns.inputSmsCode}}"
               [(ngModel)]="smsCode" maxlength="6"
               (focus)="focus('smsCode')" (blur)="blur('smsCode')">
        <div class="gz-get-smscode" *ngIf="!resendSmsCodeDelay" (click)="sendSmsCode()">
          <gz-i18n key="user.sendSmsCode"></gz-i18n>
        </div>
        <div class="gz-get-smscode" *ngIf="resendSmsCodeDelay">{{i18ns.resendSmsCode}}({{resendSmsCodeDelay}})</div>
      </div>
    </section>
  
  

  <section class="gz-submit">
    <div class="btn gz-circle active" (click)="login()">
      <gz-i18n key="common.login"></gz-i18n>
    </div>

  </section>
  <section class="gz-forget-paaswd" routerLink="/forgetPassword">
    <gz-i18n key="common.forgetPassword"></gz-i18n>
  </section>
</article>

<div class="loader" *ngIf="isLoading"><gz-i18n key="common.loading"></gz-i18n></div>
