<gz-menu class="gz-main-page-menu" [activeNavName]="'my'"></gz-menu>

<header class="gz-header-container">
  <div class="gz-header">
    <div>
      <fa-icon [icon]="['fas', 'chevron-left']" class="gz-back" (click)="goBack()"></fa-icon>
    </div>
    <div class="gz-title">
      <gz-i18n key="user_email.set_email"></gz-i18n>
    </div>
    <div></div>
  </div>
</header>

<article class="gz-form">
  <section>
    <p><gz-i18n key="user_email.tip"></gz-i18n></p>
  </section>
  <section>
    <div>
      <input type="email" [(ngModel)]="email" placeholder="{{this.i18ns.input_email}}" tabindex="1">
    </div>
  </section>

  <!--<section>-->
    <!--<div style="position: relative;">-->
      <!--<input type="text" class="{{isFocus('emailVerifyCode')}}" placeholder="请输入邮件中的验证码"-->
             <!--[(ngModel)]="emailVerifyCode">-->
      <!--<div class="gz-get-smscode" *ngIf="!resendEmailVerifyCodeDelay" (click)="sendEmailVerifyCode()">获取验证码</div>-->
      <!--<div class="gz-get-smscode" *ngIf="resendEmailVerifyCodeDelay">重新获取验证码({{resendEmailVerifyCodeDelay}})</div>-->
    <!--</div>-->
  <!--</section>-->

  <section class="gz-submit">
    <div class="btn btn-primary gz-circle" (click)="submit()" (keyup.enter)="submit()" tabindex="2">
      <gz-i18n key="user_email.submit"></gz-i18n>
    </div>
  </section>

</article>
