@import "../../../../constants";

.gz-action-withraw {
  background: $article_bg;
  .gz-input {
    width: 100%;

  }
  .gz-action-withraw-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid $border_default;
    padding: 10px;
    width:100%;

    .gz-label {
      width: 200px;
    }

    input {
      border: 0;
      width: 100%;
    }
  }
  .gz-notice {
    color: $sub_font_color;
    padding: 10px;

    p {
      padding: 0;
      margin: 0;
    }
  }

  .gz-btn-row {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;

    
  }

  .gz-action-withraw-info {
    font-size: 11px;
    padding: 0 10px;
  }

}

.gz-process-list {
  margin-top: 10px;
  background: $article_bg;

  .gz-title {
    display: flex;
    justify-content: space-between;
    padding: 14px;
    border-bottom: 1px solid $border_default;

  }

  .gz-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid $border_default;
    word-break: break-all;
  }
}
