<div class="gz-action-withraw gz-form">
  <div class="gz-action-withraw-row">
    <div class="gz-label">{{this.i18ns.send_address}}</div>
    <div class="gz-input">
      <input type="text" class="gz-input" [(ngModel)]="address" placeholder="{{this.i18ns.input_address}}">
    </div>
  </div>
  <div class="gz-action-withraw-row">
    <div class="gz-label">{{coinType}}<gz-i18n key="element_coin_withraw.coin_amount"></gz-i18n></div>
    <div class="gz-input">
      <input type="number" [(ngModel)]="amount" placeholder="{{this.i18ns.input_amount}}">
    </div>
  </div>
  <div class="gz-action-withraw-info">
    <gz-i18n key="element_coin_withraw.max_send"></gz-i18n>{{coinBalance.balance | coinNumber}}{{coinType}}
  </div>
  <div class="gz-action-withraw-row gz-input">
    <input type="text" [(ngModel)]="remark" placeholder="{{this.i18ns.remark}}">
  </div>
  <div class="gz-action-withraw-row">
    <div class="gz-label"><gz-i18n key="element_coin_withraw.trans_password"></gz-i18n></div>
    <div class="gz-input">
      <input type="password" [(ngModel)]="paypassword" placeholder="{{this.i18ns.input_trans_password}}">
    </div>
  </div>
  <div class="gz-notice">
    <p>
      <gz-i18n key="element_coin_withraw.notice"></gz-i18n>
    </p>
    <p>      
      {{this.i18ns.notice_info}}
    </p>
  </div>
  <div class="gz-btn-row">
    <!--active-->
    <div class="btn btn-primary gz-circle" (click)="submit()"><gz-i18n key="element_coin_withraw.confirm_send"></gz-i18n></div>
  </div>
</div>

<div class="gz-process-list">
  <div class="gz-title">
    <div>
      <span><gz-i18n key="element_coin_withraw.trans_in_processing"></gz-i18n></span>
      <span class="gz-active" (click)="showInnerHelp()"><fa-icon [icon]="['fas', 'question-circle']"></fa-icon></span>
    </div>
    <div class="gz-link" (click)="refreshWillReceive()"><gz-i18n key="element_coin_withraw.refresh"></gz-i18n></div>
  </div>
  <div *ngIf="!isLoadingTransaction">
    <div class="gz-list" *ngFor="let transaction of transactions">
      <div>
        <span><gz-i18n key="element_coin_withraw.txid"></gz-i18n>: </span>
        <span>{{transaction.txid}}</span>
      </div>
      <div>
        <span><gz-i18n key="element_coin_withraw.withraw_amount"></gz-i18n>: </span>
        <span>{{transaction.amount | coinNumber}}{{transaction.coin}}</span>
      </div>
    </div>
  </div>
</div>
<div class="loader" *ngIf="isLoadingTransaction"><gz-i18n key="element_coin_withraw.loading"></gz-i18n></div>


<section class="gz-bg" *ngIf="isShowInnerHelp" (click)="hideInnerHelp()"></section>
<section class="gz-inner-help" *ngIf="isShowInnerHelp">
  <div [innerHTML]="helpContent"></div>
</section>
