<header class="gz-header-container">
    <div class="gz-header">
      <div>
        <fa-icon [icon]="['fas', 'chevron-left']" class="gz-back" (click)="goBack()"></fa-icon>
      </div>
      <div class="gz-title">
        {{this.i18ns.ad_orders_title}}
      </div>
      <div></div>
    </div>
  </header>
  <section>
    <div class="div_ad_info">
      <div><gz-i18n key="my_ad.ad_info"></gz-i18n></div>
      <div>          
          <div class="gz-list-td-adtype" *ngIf="this.adType == '1'"><gz-i18n key="otc.adType"></gz-i18n>: {{this.i18ns.sale}}</div>
          <div class="gz-list-td-adtype" *ngIf="this.adType == '2'"><gz-i18n key="otc.adType"></gz-i18n>: {{this.i18ns.buy}}</div>
      </div>
      <div>
          <gz-i18n key="my_ad.ad_coin_type"></gz-i18n>: {{this.adData.transactionCoinType}}
      </div>
        
    </div>
  </section>
  <section class="gz-list-tr" *ngFor="let data of orders">
      <div class="gz-list-tr-left">
          
          <div class="gz-list-td">{{this.i18ns.order_id}}: {{data.id}} </div>
          <div class="gz-list-td" *ngIf="data.status == 'unfinish'">{{this.i18ns.order_status}}: {{this.i18ns.order_status_unfinish}} </div>
          <div class="gz-list-td" *ngIf="data.status == 'finish'">{{this.i18ns.order_status}}: {{this.i18ns.order_status_finish}} </div>
          <div class="gz-list-td" *ngIf="data.status == 'canceled'">{{this.i18ns.order_status}}: {{this.i18ns.order_status_canceled}} </div>
          <div class="gz-list-td" *ngIf="data.status == 'dispute'">{{this.i18ns.order_status}}: {{this.i18ns.order_status_dispute}} </div>
          <div class="gz-list-td">{{this.i18ns.order_user_id}}: {{data.userid}} </div>
               
         
          <div class="gz-list-td">{{this.i18ns.order_amount}}: {{data.amount}} </div>
          <div class="gz-list-td">{{this.i18ns.order_create_time}}: {{data.create_time * 1000  | date: 'yyyy-MM-dd HH:mm:ss'}} </div>
          <div class="gz-list-td" *ngIf="data.is_rating == 1 && data.order_rating == 1">{{this.i18ns.do_rating}}: {{this.i18ns.rating_1}} </div>
          <div class="gz-list-td" *ngIf="data.is_rating == 1 && data.order_rating == 0">{{this.i18ns.do_rating}}: {{this.i18ns.rating_0}} </div>
          <div class="gz-list-tr-detail">   
          </div>
            <!-- {{this.i18ns.do_rating}}
          <div class="btn btn-outline-blue gz-circle" *ngIf="data.is_rating == 0 " (click)="doOrderRating(data,'1')">
            {{this.i18ns.rating_1}}
          </div>
          <div class="btn btn-outline-blue gz-circle" *ngIf="data.is_rating == 0 " (click)="doOrderRating(data,'0')">
            {{this.i18ns.rating_0}}
          </div>   -->
      </div>
      <div class="gz-list-tr-right">
        <div class="btn btn-outline-blue gz-circle" *ngIf="this.adType == '2'" (click)="toOrderDetail2(data)">
          {{this.i18ns.order_detail}}
        </div>
        <div class="btn btn-outline-blue gz-circle" *ngIf="this.adType == '1'" (click)="toOrderDetail1(data)">
          {{this.i18ns.order_detail}}
        </div>
        
      </div>
    </section>
    <div class="align_center" *ngIf="!orders">{{this.i18ns.has_no_order}}</div>
    

  