<header class="gz-header-container">
  <div class="gz-header">
    <div>
      <fa-icon [icon]="['fas', 'chevron-left']" class="gz-back" (click)="goBack()"></fa-icon>
    </div>
    <div class="gz-title">
      <gz-i18n key="otc.saleAd"></gz-i18n>
    </div>
    <div></div>
  </div>
</header>

<article class="gz-my-ad">
  <section class="gz-full-tab">
    <nav class="nav">
      <a class="nav-link {{status == '1' ? 'active' : ''}}" (click)="selectProcessing()"><gz-i18n key="my_ad.processing"></gz-i18n></a>
      <a class="nav-link {{status == '10' ? 'active' : ''}}" (click)="selectObtained()"><gz-i18n key="my_ad.obtained"></gz-i18n></a>
    </nav>
  </section>

  <section class="gz-list-ad">
    <gz-list-ad [list]="list"></gz-list-ad>
  </section>
</article>
