<header class="gz-header-container">
  <div class="gz-header">
    <div>
      <fa-icon [icon]="['fas', 'chevron-left']" class="gz-back" (click)="goBack()"></fa-icon>
    </div>
    <div class="gz-title">
      <gz-i18n key="otc.myAd"></gz-i18n>
    </div>
    <div></div>
  </div>  
</header>
<div class="gz-my-ad gz-header-sub  ">
  <section class="gz-full-tab">
    <nav class="nav">
      <a class="nav-link {{status == 'active' ? 'active' : ''}}" (click)="selectProcessing()"><gz-i18n key="my_ad.processing"></gz-i18n></a>
      <a class="nav-link {{status == 'hidden' ? 'active' : ''}}" (click)="selectObtained()"><gz-i18n key="my_ad.obtained"></gz-i18n></a>
    </nav>
  </section>
</div>

<article class="gz-my-ad ">
    <section class="gz-full-tab ">
        <nav class="nav">
          <a class="nav-link {{status == 'active' ? 'active' : ''}}" (click)="selectProcessing()"><gz-i18n key="my_ad.processing"></gz-i18n></a>
          <a class="nav-link {{status == 'hidden' ? 'active' : ''}}" (click)="selectObtained()"><gz-i18n key="my_ad.obtained"></gz-i18n></a>
        </nav>
      </section>
  <section class="gz-list-ad">
    <gz-list-ad-my [list]="list" *ngIf="!isLoading" [adStatus]="status" (refreshButtonClicked)="loadPublishAd()"></gz-list-ad-my>
    <div class="loader" *ngIf="isLoading">Loading...</div>
    <div (click)="loadMorePublishAd()" *ngIf="isShowLoadMore"
       style="text-align:center;margin-bottom: 25px;margin-top:10px; background-color:#E9BC32;color:black; ">
        <gz-i18n key="common.load_more"></gz-i18n>
      </div>
  </section>
  
</article>
