.container_load{
            width: 24px;
           height: 24px;
           position: fixed;
           top: 50%;
           left: 50%;
           margin-left: -12px;
           overflow: hidden;
}
