@import "../../../../constants";

.gz-coin-select {
  .list-group-item {
    background: $article_bg;
    border-bottom: 2px solid $btn_default;

    img {
      width: 70px;
      margin-right: 20px;
    }
  }
}

