<header class="gz-header-container">
  <div class="gz-header">
    <div>
      <fa-icon [icon]="['fas', 'chevron-left']" class="gz-back" (click)="goBack()"></fa-icon>
    </div>
    <div class="gz-title">
      {{i18ns.selectCoin}}
    </div>
    <div></div>
  </div>
</header>

<article class="gz-coin-select">
  <ul class="list-group list-group-flush fetchCur">
    <li class="list-group-item" *ngFor="let coin of coinList" (click)="goToAction(coin)">
      <img src="./assets/images/{{coin.code}}.png">
      <span>{{coin.name}}</span>
    </li>
  </ul>
</article>
