@import "../../../constants";

.gz-transaction-list {
  background: $article_bg;
  padding: 10px;

  .gz-transaction-date {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid $border_default;
  }

  .gz-list {
    padding: 10px 0;

    .gz-coin {
      font-size: 18px;
      font-weight: bold;

      &.gz-coin-receive {
        color: $font_green;
      }

      &.gz-coin-send {
        color: $font_orange;
      }
    }
  }
}
