<header class="gz-header-container">
  <div class="gz-header">
    <div>
      <fa-icon [icon]="['fas', 'chevron-left']" class="gz-back" (click)="goBack()"></fa-icon>
    </div>
    <div class="gz-title">
      交易明细(BTC)
    </div>
    <div></div>
  </div>
</header>

<article class="gz-transaction-list">
  <section class="gz-tl-row">
    <div>
      <div>充值</div>
      <div>BTC</div>
    </div>
    <div class="gz-currency">
      +10.000000002
    </div>
    <div>
      <div>2016-11-12</div>
      <div>手续费 +0.00</div>
    </div>
  </section>

  <section class="gz-tl-row">
    <div>
      <div>充值</div>
      <div>BTC</div>
    </div>
    <div class="gz-currency-red">
      -10.000000002
    </div>
    <div>
      <div>2016-11-12</div>
      <div>手续费 +0.00</div>
    </div>
  </section>

</article>

