<header class="gz-header-container">
  <div class="gz-header">
    <div>
      <fa-icon [icon]="['fas', 'chevron-left']" class="gz-back" (click)="goBack()"></fa-icon>
    </div>
    <div class="gz-title">
      <gz-i18n key="transaction.trans_detail"></gz-i18n>({{coinType}})
    </div>
    <div></div>
  </div>
</header>

<article class="gz-transaction-list">
  <section *ngFor="let date of monthDates">
    <div class="gz-transaction-date">{{date}}</div>
    <div class="gz-list" *ngFor="let transaction of transactions[date]">
      <div class="gz-coin gz-coin-{{transaction.type}}">
        <span *ngIf="transaction.type === 'receive'"><gz-i18n key="transaction.trans_receive"></gz-i18n></span>
        <span *ngIf="transaction.type === 'send'"><gz-i18n key="transaction.trans_send"></gz-i18n></span>
        <span><gz-i18n key="transaction.trans_coin_number"></gz-i18n>: </span>
        <span>{{transaction.amount | coinNumber}}{{transaction.coin}}</span>
      </div>
      <div>
        <span *ngIf="transaction.type === 'receive'"><gz-i18n key="transaction.trans_in"></gz-i18n></span>
        <span *ngIf="transaction.type === 'send'"><gz-i18n key="transaction.trans_out"></gz-i18n></span>
        <span><gz-i18n key="transaction.trans_address"></gz-i18n>: </span>
        <span>{{transaction.address}}</span>
      </div>
      <div>
        <span>TXID: </span>
        <span>{{transaction.txid}}</span>
      </div>
      <div>
        <span><gz-i18n key="transaction.trans_confirm_time"></gz-i18n>:</span>
        <span>{{transaction.confirmTime}}</span>
      </div>
    </div>
  </section>

</article>

