<header class="gz-header-container">
  <div class="gz-header">
    <div>
      <fa-icon [icon]="['fas', 'chevron-left']" class="gz-back" (click)="goBack()"></fa-icon>
    </div>
    <div class="gz-title">
      <gz-i18n key="user_real_cert.user_real_cert"></gz-i18n>
    </div>
    <div></div>
  </div>
</header>

<article class="gz-form">
  <!--<section class="gz-my-group">-->
  <!--<div class="gz-my-row" (click)="toSelectCountry()">-->
  <!--<div class="gz-my-left">-->
  <!--<div>-->
  <!--&lt;!&ndash;<fa-icon class="gz-icon-user" [icon]="['fas', 'user']"></fa-icon>&ndash;&gt;-->
  <!--</div>-->
  <!--<div>国家/地区</div>-->
  <!--</div>-->
  <!--<div class="gz-my-right">-->
  <!--<div>-->
  <!--{{country.name}}-->
  <!--<fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</section>-->

  <!--<section class="gz-edit-row gz-edit-radio-row gz-mt-10">-->
  <!--<label for="idCard">身份证</label>-->
  <!--<div><input type="radio" name="credType" id="idCard" value="1" [(ngModel)]="credType"></div>-->
  <!--</section>-->
  <!--<section class="gz-edit-row gz-edit-radio-row gz-mt-10">-->
  <!--<label for="passport">护照</label>-->
  <!--<div><input type="radio" name="credType" id="passport" value="2" [(ngModel)]="credType"></div>-->
  <!--</section>-->
  <!--<section class="gz-edit-row gz-edit-radio-row gz-mt-10">-->
  <!--<label for="driverLicense">驾驶证</label>-->
  <!--<div><input type="radio" name="credType" id="driverLicense" value="3" [(ngModel)]="credType"></div>-->
  <!--</section>-->

  <section class="gz-edit-row gz-mt-10">
    <div class="gz-edit-left">
      <input type="text" placeholder="{{this.i18ns.input_name}}" [(ngModel)]="realName" tabindex="1" (keyup)="formatChar($event)"
       maxlength="50">
    </div>
  </section>

  <section class="gz-edit-row gz-mt-10">
    <div class="gz-edit-left">
      <input type="text" placeholder="{{this.i18ns.input_cardno}}" [(ngModel)]="realCardNo" tabindex="2" (keyup)="formatChar($event)"
       maxlength="100">
    </div>
  </section>

  <section class="gz-full-img ">
    <div class="inputFileWrapper fetchCur" *ngIf="!frontImg.isLoadShow">
      <label for="">
        <input type="file" #frontImgFile (change)="imgChange($event, frontImg)" tabindex="3">
          <span class="custorm-style">
              <span class="left-button" (click)="selectImg(frontImgFile)">{{this.i18ns.card_front}}{{this.i18ns.upload}}</span>
              <span class="right-text"  (click)="selectImg(frontImgFile)">{{frontImg.name}}</span>
          </span>
      </label>
    </div>
    <img alt="{{this.i18ns.card_front}}" [src]="frontImg.src || '/assets/images/id_front.jpg'" >
  </section>

  <section class="gz-full-img ">
      <div class="inputFileWrapper fetchCur" *ngIf="!this.backImg.isLoadShow">
          <label for="">
              <input type="file" #backImgFile (change)="imgChange($event, backImg)" tabindex="4">
              <span class="custorm-style">
                  <span class="left-button" (click)="selectImg(backImgFile)">{{this.i18ns.card_back}}{{this.i18ns.upload}}</span>
                  <span class="right-text"  (click)="selectImg(backImgFile)">{{backImg.name}}</span>
              </span>
          </label>
        </div>
        <img alt="{{this.i18ns.card_back}}" [src]="backImg.src || '/assets/images/id_back.jpg'" >
  </section>
  <section class="gz-full-img ">
      <div class="inputFileWrapper fetchCur" *ngIf="!this.halfImg.isLoadShow">
          <label for="">
              <input type="file" #halfImgFile (change)="imgChange($event, halfImg)" tabindex="5">
              <span class="custorm-style">
                  <span class="left-button" (click)="selectImg(halfImgFile)">{{this.i18ns.bust}}{{this.i18ns.upload}}</span>
                  <span class="right-text"  (click)="selectImg(halfImgFile)">{{halfImg.name}}</span>
              </span>
          </label>
        </div>
      <img alt="{{this.i18ns.bust}}" [src]="halfImg.src || '/assets/images/body_half.jpg'" >
  </section>

  <section class="gz-agree">
    <input type="checkbox" id="isSelectPromise" [(ngModel)]="isSelectPromise"  style="zoom:150%;min-height:15px;min-width:15px;" tabindex="6">
    <label for="isSelectPromise"><gz-i18n key="user_real_cert.promise"></gz-i18n></label>
  </section>

  <section class="gz-submit">
    
    <button class="btn btn-primary gz-circle" *ngIf="!loading" gzDelayClick (debounceClick)="submit()" [debounceTime]="500" [timeOut]="3500" tabindex="7"><gz-i18n key="user_real_cert.submit"></gz-i18n></button>

    <!--<div class="btn btn-primary gz-circle" *ngIf="!loading" gzDelayClick (debounceClick)="submit()" [debounceTime]="5000" (keyup.enter)="submit()" tabindex="7">
      <gz-i18n key="user_real_cert.submit"></gz-i18n>
    </div>
    <div class="btnUnconfirm" tabindex="7" *ngIf="loading">
      <gz-i18n key="common.process"></gz-i18n>
    </div>-->
    
  </section>

</article>

<gz-loading [showLoading]="loading"></gz-loading>

<!--<gz-select-country [code]="countryCode" (done)="selectCountry($event)"></gz-select-country>-->
