$link_default_color: #CACBD0;
$link_active_color: #F1BD45;
$header_bg: #212831;
$header_bg_up: #212831;
$header_height: 56px;

$body_bg: #14171C;
$article_bg: #14171C;
$nav_bg: #212831;
$input_bg: #181E26;
$placeholder-color: #747166;

$border_default: #3a404c;

$head_font: #CACBD0;
$sub_font_color: #7A7982;
$content_font_color: #595861;
$warn_font_color: #E67629;

$btn_default_bg: #14171C;
$btn_default_font: #CACBD0;
$btn_orange: #CC5824;
$btn_primary: #E9BC32;
$btn_default: #717078;
$btn_price-up: #72D29C;
$btn_price-down: #E5695F;

$font_green: #469D2C;
$currency_inc: #469D2C;
$currency_red: #9d2b30;

$section_margin_top: 10px;

$chat_bg_color: #4897ED;
$chat_font_color: #ffffff;
$heighline_font_color: #ED7766;
$chat_template_height: 171px;

$icon_color: #626678;

$modal_item_bg: #565656;
$modal_item_bg_active: #D32E70;

// ###### pc ######
$pc_max_width: 1199.98px;
