$link_default_color: #717078;
$link_active_color: #3F8EE1;
$header_bg: #4796ED;
$header_bg_up: #54A1ED;
$header_height: 56px;

$body_bg: #F2F6F9;
$article_bg: #ffffff;
$nav_bg: #ffffff;
$input_bg: #ffffff;
$placeholder-color: #747166;

$border_default: #E8E8E8;

$head_font: #000;
$sub_font_color: #7A7982;
$content_font_color: #595861;
$warn_font_color: #E67629;

$btn_default_bg: #ffffff;
$btn_default_font: #717078;
$btn_orange: #CC5824;
$btn_primary: #4796ED;
$btn_default: #717078;
$btn_price-up: #72D29C;
$btn_price-down: #E5695F;

$font_green: #469D2C;
$currency_inc: #469D2C;
$currency_red: #9d2b30;

$section_margin_top: 10px;

$chat_bg_color: #4897ED;
$chat_font_color: #ffffff;
$heighline_font_color: #ED7766;
$chat_template_height: 171px;

$icon_color: #626678;

$modal_item_bg: #ffffff;
$modal_item_bg_active: #007bff;

// ###### pc ######
$pc_max_width: 1199.98px;
