.msgwarn{
    position: fixed;
    top: 70%;
    right: 10px;
    width: 150px;
    height: 25px;
    background: #555;
    color: #f00e0e;
    font-size: 13px;
    padding: 2px;
    filter: opacity(1);
}
.msgwarn a{
    color: #f00e0e;
}