.msgwarn{
    position: fixed;
    top: 70%;
    right: 10px;
    
    background: #555;
    color: #f00e0e;
    font-size: 13px;
    padding: 10px;
    filter: opacity(1);
}
.msgwarn a{
    color: #f00e0e;
}

